<mat-drawer-container class="drawer-container" fullscreen>
    <mat-drawer #drawer class="example-sidenav d-block d-md-none" mode="over" position="end">
        <mat-nav-list class="me-1">
            <a mat-list-item (click)="goToLogin()">
                Login
            </a>
            <a class="create-account-drawer" mat-list-item (click)="goToRegister()">
                Create an Account
            </a>
            <a mat-list-item (click)="goToFeatures()">
                Features
            </a>
            <a mat-list-item (click)="goToPricing()">
                Pricing
            </a>
        </mat-nav-list>
    </mat-drawer>
    <mat-toolbar class="toolbar">
        <div class="me-3">

            <a href="javascript:void(0);" (click)="goHome()">
                <img id="toolbar-logo" src="../../../assets/PackageBeastNoPhrase.png" alt="pbLogo">
            </a>
        </div>
        <span class="toolbar-spacer d-block d-md-none"></span>

        <button mat-icon-button (click)="drawer.toggle()" class="d-block d-md-none"
            aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>

        <button (click)="goToPricing()" mat-button class="d-none d-md-block" aria-label="pricing">
            Pricing
        </button>
        <button (click)="goToFeatures()" mat-button class="d-none d-md-block" aria-label="features">
            Features
        </button>
        <button mat-button class="d-none d-md-block" aria-label="products">
            Products
        </button>
        <span class="toolbar-spacer d-none d-md-block"></span>
        <button (click)="goToLogin()" mat-button class="d-none d-md-block" aria-label="login button">
            Login
        </button>
        <button (click)="goToRegister()" mat-button class="create-account-toolbar d-none d-md-block"
            aria-label="register button">
            Create an Account
        </button>

    </mat-toolbar>

    <div class="container-fluid">
        <div class="row">
            <div class="col text-right">
                <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/PackageBeast">
                    <fa-icon class="btn p-1" [icon]="faFacebookSquare" size="2x"></fa-icon>
                </a>
                <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/packagebeast">
                    <fa-icon class="btn p-1" [icon]="faTwitterSquare" size="2x"></fa-icon>
                </a>
                <a target="_blank" rel="noopener noreferrer"
                    href="https://www.youtube.com/channel/UCoPVEg9Wj-Fdaa1J0EJtVkQ?view_as=subscriber">
                    <fa-icon class="btn p-1" [icon]="faYoutubeSquare" size="2x"></fa-icon>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="text-center">The world's only shipping optimization software.</h4>
            </div>
        </div>
        <div class="row pt-5 pb-3">
            <div class="col">
                <img style="max-width: 50%;" class="d-block m-auto" id="rendering-image"
                    src="../../assets/PackageBeastRendering.webp" alt="rendering-image">
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-3 d-none d-md-block"></div>
            <div class="col">
                <h5>The world's most advanced shipping software lets you shop rates, pack your inventory in the smallest
                    box possible, and print shipping labels.</h5>
            </div>
            <div class="col-3 d-none d-md-block"></div>

        </div>
        <div class="row">
            <div class="col p-3">
                <h6>Shipping optimization</h6>
                <p>Package Beast's revolutionary algorithm shows you how to perfectly pack your inventory.</p>
            </div>
            <div class="col p-3">
                <h6>Create discounted shipping labels</h6>
                <p>Real-time, competitive quotes from USPS, UPS, and FedEx make sure you get the fasted shipping at the
                    lowest cost.</p>
            </div>
            <div class="col p-3">
                <h6>Track shipments</h6>
                <p>Package Beast provides your tracking information and saves it to your web portal.</p>
            </div>
        </div>
    </div>
</mat-drawer-container>