<!-- <h1>Reset Password Complete</h1>
<p>You have successfully reset your password. Click the link below to login:</p>
<a routerLink="/login">Login</a> -->

<div class="container-fluid justify-content-center overflow-auto minor-view-background">
    <div class="row justify-content-center">
        <div class="col-md-6 full-width p-5">

            <mat-card class="pt-5 px-5 text-center">
                <mat-card-header class="d-flex justify-content-center">
                    <mat-card-title>
                        <h1>
                            <img id="card-logo" src="../../../assets/PackageBeast.png" alt="pbLogo">
                        </h1>
                        <br><br>
                        <h1>Reset Password Complete</h1>
                    </mat-card-title>
                </mat-card-header>

                <mat-card-actions>
                    <div class="container-fluid">
                        <div class="row">

                            <div class="col">
                                <p>Click below to login</p>
                                <a routerLink="/login" class="btn btn-link">Login</a>
                            </div>

                        </div>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>