<div class="bricks d-flex justify-content-center">
    <div class="d-flex full-width">
        <div class="full-width p-5">
            <mat-card class="p-5 text-center">
                <h1>
                    <img id="logo" src="../../../assets/PackageBeast.png" alt="pbLogo">
                    beta 1.10
                </h1>

                <mat-card-header class="d-flex justify-content-center">
                    <!-- <div mat-card-sm-image class="peace-sign"></div> -->

                    <mat-card-title></mat-card-title>
                </mat-card-header>

                <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
                    <div>
                        <mat-form-field class="full-width">
                            <mat-label>Email</mat-label>
                            <input type="email" autocomplete="email" matInput
                                [formControl]="passwordResetForm.get('email')" placeholder="Ex. pat@example.com">
                            <mat-error *ngIf="passwordResetForm.get('email').hasError('pattern')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="passwordResetForm.get('email').hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="passwordResetForm.get('email').hasError('loginFail')">
                                Incorrect email or password
                            </mat-error>
                        </mat-form-field>
                        <br />

                        <mat-card-actions class="d-flex justify-content-left">
                            <button color="accent" mat-raised-button [disabled]="loading">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Reset Password
                            </button>
                            <div class="empty-space"></div>
                            <a routerLink="/register" class="btn btn-link">Register</a>
                            <a routerLink="/login" class="btn btn-link">Login</a>
                        </mat-card-actions>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>