<mat-horizontal-stepper #stepper (selectionChange)="selectionChange()">
    <mat-step>
        <ng-template matStepLabel>Select Items to Ship</ng-template>
        <app-items-selection></app-items-selection>
        <div class="container">
            <div class="d-flex justify-content-center">
                <button mat-button matStepperNext type="button">Next</button>
            </div>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Select Shipping Containers</ng-template>

        <app-containers-selection></app-containers-selection>
        <div class="container">
            <div class="d-flex justify-content-center">
                <button mat-button matStepperPrevious type="button">Back</button>
                <button mat-button matStepperNext type="button">Next</button>
            </div>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Review</ng-template>
        <app-review-shipment [selectedContainers]="selectedContainers" [selectedItems]="selectedItems">
        </app-review-shipment>

        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="analyze()">Analyze</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>