<mat-horizontal-stepper #stepper (selectionChange)="selectionChange()">
    <mat-step>
        <ng-template matStepLabel>Select Items to Ship</ng-template>
        <app-items-selection></app-items-selection>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Select Shipping Containers</ng-template>
        <app-containers-selection></app-containers-selection>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Review</ng-template>
        <p>Review</p>
        <ul>
            <p>Items to ship</p>
            <li *ngFor="let item of selectedItems">
                {{ item.description }}
            </li>
            <p>Containers to optimize</p>
            <li *ngFor="let container of selectedContainers">
                {{ container.description }}
            </li>
        </ul>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>