<div class="view-container container d-flex flex-column overflow-hidden">
    <div class="row mb-3 mt-3 no-shrink">
        <div class="col-md-3 col-sm-0"></div>
        <div class="col-md-6 col-sm-12 text-center">
            <h3>Thank You!</h3>
        </div>
    </div>
    <div class="row mb-3 mt-3 no-shrink">
        <div class="col-md-3 col-sm-0"></div>
        <div class="col-md-6 col-sm-12 text-center">
            <p>Thanks for using package beast. We value you as a customer.</p>
            <p>Subscription active: {{subscriptionInfo.subscriptionActive}}</p>
            <p>User has view rights: {{subscriptionInfo.userHasViewRights}}</p>
        </div>
    </div>
</div>