<div class="d-flex justify-content-center mb-3">
    <h2 *ngIf="userHasContainers">Select available shipping containers!</h2>
    <h2 *ngIf="!userHasContainers">No shipping containers have been created!</h2>
</div>

<div class="mb-3">
    <mat-accordion #accordion="matAccordion">
        <!-- #enddocregion basic-panel -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    3rd Party Shipping Containers
                </mat-panel-title>
                <!-- <mat-panel-description>
                Panel Description
            </mat-panel-description> -->
            </mat-expansion-panel-header>
            <div class="d-flex justify-content-start mb-3">
                <mat-checkbox [checked]="includeUpsContainers" (change)="toggleUpsContainers()">
                    <fa-icon class="icon mx-2" size="2x" [icon]="faUps"> </fa-icon>
                    Include flat-rate and standard UPS shipping containers in quotes
                </mat-checkbox>
            </div>

            <div class="d-flex justify-content-start mb-3">
                <mat-checkbox [checked]="includeUspsContainers" (change)="toggleUspsContainers()">
                    <fa-icon class=" icon mx-2" size="2x" [icon]="faUsps">
                    </fa-icon>
                    Include flat-rate and standard USPS shipping containers in quotes
                </mat-checkbox>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<!-- <button class="btn btn-primary" (click)="openDialog()">New Container</button> -->

<mat-form-field *ngIf="userHasContainers" class="full-width">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" autocomplete="off" placeholder="Dimension, Container Name, or SKU">
</mat-form-field>

<div class="d-flex flex-column justify-content-center mb-3">
    <div class="d-flex flex-row overflow-hidden">
        <div *ngIf="!userHasContainers">
            <p>You must create at least one inventory item and one shipping container before creating a
                shipment. Select
                "Containers" in the main menu to create an shipping container.</p>
        </div>
        <div (scroll)="accordion.closeAll()"
            [ngClass]='userHasContainers ? "containers-selection-tbl-container w-100": "d-none"'>

            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 flex-fill">

                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? toggle(row) : null"
                            [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- SKU Column -->
                <ng-container matColumnDef="sku">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> SKU </th>
                    <td mat-cell *matCellDef="let container"> {{container.sku}} </td>
                </ng-container>

                <!-- Description Column -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                    <td mat-cell *matCellDef="let container"> {{container.description}} </td>
                </ng-container>

                <!-- Length Column -->
                <ng-container matColumnDef="xDim">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Length ({{currentUser.units}})
                    </th>
                    <td mat-cell *matCellDef="let container">
                        {{container.yDim | units: container.units: currentUser.units | number:'1.0-3'}}
                    </td>
                </ng-container>

                <!-- Width Column -->
                <ng-container matColumnDef="zDim">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Width ({{currentUser.units}})
                    </th>
                    <td mat-cell *matCellDef="let container">
                        {{container.zDim | units: container.units: currentUser.units | number:'1.0-3'}}
                    </td>
                </ng-container>

                <!-- Height Column -->
                <ng-container matColumnDef="yDim">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Height ({{currentUser.units}})
                    </th>
                    <td mat-cell *matCellDef="let container">
                        {{container.xDim | units: container.units: currentUser.units | number:'1.0-3'}}
                    </td>
                </ng-container>

                <!-- Volume Column -->
                <ng-container matColumnDef="volume">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Volume
                        ({{currentUser.units}}<sup>3</sup>)
                    </th>
                    <td mat-cell *matCellDef="let container">
                        {{container.volume | volumeUnits: container.units: currentUser.units |
                        number:'1.1-1'}}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row (click)="toggle(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>