<div class="container">
    <div class="d-flex justify-content-center mb-3">
        <h1>Your settings</h1>
    </div>

    <mat-form-field class="full-width" appearance="standard">
        <mat-label>Units</mat-label>
        <mat-select>
            <mat-option>
                Inches
            </mat-option>
            <mat-option>
                Millimeters
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="standard">
        <mat-label>Date/Time Format</mat-label>
        <mat-select>
            <mat-option>
                Jan 1, 2020, 1:00 PM
            </mat-option>
            <mat-option>
                Jan 1, 2020, 1300
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>