<div class="view-container container d-flex flex-column overflow-auto">
    <div class="d-flex justify-content-center mb-3 mt-3">
        <h3>Settings</h3>
    </div>

    <mat-form-field class="full-width" appearance="standard">
        <mat-label>Units</mat-label>
        <mat-select [(value)]="units" (selectionChange)="save()">
            <mat-option value="in">
                Inches
            </mat-option>
            <mat-option value="cm">
                Centimeters
            </mat-option>
            <mat-option value="mm">
                Millimeters
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="standard">
        <mat-label>Date/Time Format</mat-label>
        <mat-select [(value)]="dateTimeFormat" (selectionChange)="save()">
            <mat-option value="MMM d, yyyy, h:mm aa">
                Jan 1, 2020, 1:00 PM
            </mat-option>
            <mat-option value="MMM d, yyyy, HHmm">
                Jan 1, 2020, 1300
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- <div class="full-width">
        <mat-checkbox [checked]="multiBinPack" (change)="multiBinPack=!multiBinPack">
            Pack items in multiple containers to minimize total shipping volume
        </mat-checkbox>
    </div> -->

    <div class="d-flex justify-content-start mb-3">
        <mat-checkbox [checked]="disableFillContainerAnimation"
            (change)="disableFillContainerAnimation=!disableFillContainerAnimation; save()">Disable container fill
            animation
        </mat-checkbox>
    </div>

    <div class="d-flex justify-content-start mb-3">
        <mat-checkbox [checked]="disablePreviousNextItemAnimation"
            (change)="disablePreviousNextItemAnimation=!disablePreviousNextItemAnimation; save()">Disable
            previous/next item
            animation
        </mat-checkbox>
    </div>

    <div class="d-flex justify-content-start mb-3">
        <span>Animation speed:<span *ngIf="disableFillContainerAnimation && disablePreviousNextItemAnimation">
                disabled</span><span *ngIf="!disableFillContainerAnimation || !disablePreviousNextItemAnimation">
                {{animationSpeed}}</span>
            <mat-slider [disabled]="disableFillContainerAnimation && disablePreviousNextItemAnimation" (change)="save()"
                [max]="100" [min]="1" [step]="1" [thumbLabel]="true" [(ngModel)]="animationSpeed">
            </mat-slider>
        </span>
    </div>

    <div class="d-flex justify-content-start mb-3">
        <p class="text-danger">{{saveStatusText}}</p>
    </div>
    <div class="d-flex justify-content-start mb-3">
        <a [routerLink]="" (click)="goToBilling()">Subscription/Billing</a>
    </div>
    <div class="d-flex justify-content-start mb-3">
        <a [routerLink]="" (click)="goToChangePassword()">Change Password</a>
    </div>
    <div class="d-flex justify-content-start mb-3">
        <p>Website Build Date: {{buildTimestamp | date: dateTimeFormat}}</p>
    </div>
</div>