<div class="minor-view-background d-flex justify-content-center">
    <div class="d-flex full-width">
        <div class="full-width p-5">
            <mat-card class="p-5 text-center">
                <h1>
                    <img id="logo" src="../../../assets/PackageBeast.png" alt="pbLogo">
                </h1>
                <br><br>
                <h1>Confirm Password</h1>

                <mat-card-header class="d-flex justify-content-center">

                    <mat-card-title></mat-card-title>
                </mat-card-header>

                <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                    <div>
                        <mat-form-field class="full-width">
                            <mat-label>Password</mat-label>
                            <input type="password" name="Password" autocomplete="off" readonly
                                onfocus="this.removeAttribute('readonly');" matInput
                                [formControl]="resetPasswordForm.get('new_password1')" placeholder="password">
                            <mat-error *ngIf="resetPasswordForm.get('new_password1').hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="resetPasswordForm.get('new_password1').hasError('minlength')">
                                Password must be 8 characters or more
                            </mat-error>
                        </mat-form-field>
                        <br />
                        <mat-form-field class="full-width">
                            <mat-label>Repeat Password</mat-label>
                            <input type="password" matInput [formControl]="resetPasswordForm.get('new_password2')"
                                placeholder="password">
                            <mat-error *ngIf="resetPasswordForm.get('new_password2').hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="resetPasswordForm.get('new_password2').hasError('minlength')">
                                Password must be 8 characters or more
                            </mat-error>
                            <mat-error *ngIf="resetPasswordForm.get('new_password2').hasError('mustMatch')">
                                Passwords must match
                            </mat-error>
                        </mat-form-field>
                        <mat-card-actions class="d-flex justify-content-left">
                            <button mat-raised-button color="accent" [disabled]="loading">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Confirm Password
                            </button>
                            <div class="empty-space"></div>
                        </mat-card-actions>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>

</div>