<div class="container">
    <div class="d-flex justify-content-between mb-3">
        <div></div>
        <h1>Your Containers&nbsp;&nbsp;</h1>
        <p class="flex-column d-flex justify-content-end">
            <button mat-raised-button color="accent" (click)="openDialog()" type="button">New Container</button>
        </p>
    </div>

    <!-- <button class="btn btn-primary" (click)="openDialog()">New Item</button> -->


    <mat-form-field class="full-width">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" autocomplete="off" placeholder="SKU, Description, or Dimension">
    </mat-form-field>

    <div class="d-flex justify-content-center mb-3">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 flex-fill">

            <!-- SKU Column -->
            <ng-container matColumnDef="sku">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> SKU </th>
                <td mat-cell *matCellDef="let container"> {{container.sku}} </td>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                <td mat-cell *matCellDef="let container"> {{container.description}} </td>
            </ng-container>

            <!-- Length Column -->
            <ng-container matColumnDef="length">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Length </th>
                <td mat-cell *matCellDef="let container"> {{container.xDim}} </td>
            </ng-container>

            <!-- Width Column -->
            <ng-container matColumnDef="width">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Width </th>
                <td mat-cell *matCellDef="let container"> {{container.zDim}} </td>
            </ng-container>

            <!-- Height Column -->
            <ng-container matColumnDef="height">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Height </th>
                <td mat-cell *matCellDef="let container"> {{container.yDim}} </td>
            </ng-container>

            <!-- Volume Column -->
            <ng-container matColumnDef="volume">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Volume </th>
                <td mat-cell *matCellDef="let container"> {{container.volume}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row (click)="openEditContainerDialog(container)" *matRowDef=" let container; columns:
                        displayedColumns;">
            </tr>
        </table>

    </div>
</div>