<div class="">
    <mat-sidenav-container fullscreen>
        <mat-sidenav class="drawer-edge" #snav position="start" mode="side" opened="true" fixedTopGap="0"
            fixedInViewport="true">
            <mat-nav-list>
                <a mat-list-item routerLinkActive="active" [routerLink]="[{ outlets: { view: 'items' } }]">
                    <fa-icon class="p-1" [icon]="faCube"></fa-icon> Inventory
                </a>
                <a mat-list-item routerLinkActive="active" [routerLink]="[{ outlets: { view: 'containers' } }]">
                    <fa-icon class="p-1" [icon]="faBoxOpen"></fa-icon>Containers
                </a>
                <a mat-list-item routerLinkActive="active" [routerLink]="[{ outlets: { view: 'shipments' } }]">
                    <fa-icon class="p-1" [icon]="faTruck"></fa-icon>Shipments
                </a>
                <a mat-list-item routerLinkActive="active" [routerLink]="[{ outlets: { view: 'settings' } }]">
                    <fa-icon class="p-1" [icon]="faCog"></fa-icon>Settings
                </a>
                <a mat-list-item routerLinkActive="active" (click)="logout()">
                    <fa-icon class="p-1" [icon]="faSignOutAlt"></fa-icon>Logout
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="fixedy">
                <mat-toolbar color="primary" style="height:8vh;">
                    <button mat-icon-button (click)="snav.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <h1>Package Beast Beta 0.71</h1>
                    <div class="empty-space"></div>
                    <h3>{{firstName}}</h3>
                </mat-toolbar>
            </div>
            <div class="scrolly">
                <router-outlet name="view"></router-outlet>
            </div>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>