<div class="">
    <mat-sidenav-container fullscreen [hasBackdrop]="false">
        <mat-sidenav class="drawer-edge" #snav position="start" mode="side" opened="true" fixedTopGap="0"
            fixedInViewport="true">
            <mat-nav-list class="me-1">
                <a [disableRipple]="true" [disabled]="!paymentUpToDate" mat-list-item routerLinkActive="active"
                    [routerLink]="[{ outlets: { view: 'inventory' } }]" [ngClass]="{'disabled': !paymentUpToDate}">
                    <fa-icon class="nav-icon p-1" [icon]="faCube"></fa-icon> Inventory
                </a>
                <a [disableRipple]="true" [disabled]="!paymentUpToDate" mat-list-item routerLinkActive="active"
                    [routerLink]="[{ outlets: { view: 'containers' } }]" [ngClass]="{'disabled': !paymentUpToDate}">
                    <fa-icon class="nav-icon p-1" [icon]="faBoxOpen"></fa-icon>Containers
                </a>
                <a [disableRipple]="true" [disabled]="!paymentUpToDate" mat-list-item routerLinkActive="active"
                    [routerLink]="[{ outlets: { view: 'shipments' } }]" [ngClass]="{'disabled': !paymentUpToDate}">
                    <fa-icon class="nav-icon p-1" [icon]="faTruck"></fa-icon>Shipments
                </a>
                <a [disableRipple]="true" [disabled]="!paymentUpToDate" mat-list-item routerLinkActive="active"
                    [routerLink]="[{ outlets: { view: 'settings' } }]" [ngClass]="{'disabled': !paymentUpToDate}">
                    <fa-icon class="nav-icon p-1" [icon]="faCog"></fa-icon>Settings
                </a>
                <a [disableRipple]="true" [disabled]="!paymentUpToDate" mat-list-item routerLinkActive="active"
                    [routerLink]="[{ outlets: { view: 'billing' } }]" [ngClass]="{'disabled': !paymentUpToDate}">
                    <fa-icon class="nav-icon p-1" [icon]="faCC"></fa-icon>Billing
                </a>
                <a [disableRipple]="true" mat-list-item routerLinkActive="active" (click)="logout()">
                    <fa-icon class="nav-icon p-1" [icon]="faSignOutAlt"></fa-icon>Logout
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="">
                <mat-toolbar class="d-flex justify-content-between" color="primary" style="height: 8vh;">
                    <button *ngIf="!snav.opened" class="menu-button btn bg-transparent" (click)="snav.toggle()">
                        <fa-icon class="light-icon p-1" size="2x" [icon]="faBars"></fa-icon>
                    </button>
                    <button *ngIf="snav.opened" class="menu-button btn bg-transparent" (click)="snav.toggle()">
                        <fa-icon class="light-icon p-1" size="2x" [icon]="leftArrow"></fa-icon>
                    </button>

                    <img id="logo" src="../../../assets/PackageBeastWhiteNoLogo.png">
                    <h3 [matMenuTriggerFor]="menu" class="first-name">{{firstName}}</h3>
                    <!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button> -->
                    <!-- #enddocregion mat-menu-trigger-for -->
                </mat-toolbar>
                <mat-menu class="aux-menu" #menu="matMenu">
                    <div class="container">
                        <div class="row pt-3">
                            <div class="col">
                                <p>Need help? Email us at support@packagebeast.com</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button mat-button (click)="openTermsOfServiceDialog()">Terms of Service</button>
                            </div>
                            <div class="col">
                                <button mat-button (click)="openPrivacyPolicyDialog()">Privacy Policy</button>
                            </div>
                            <div class="col">
                                <a href="{{shippoLoginUrl}}">Shippo
                                    Login</a>
                            </div>
                        </div>
                    </div>
                </mat-menu>
            </div>

            <div class="mc">
                <div (touchstart)=snav.close() class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <router-outlet name="view"></router-outlet>
                        </div>
                    </div>
                </div>
            </div>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>