<div class="">


    <mat-sidenav-container fullscreen>
        <mat-sidenav #snav position="start" mode="over" fixedTopGap="0" fixedInViewport="true">
            <mat-nav-list>
                <a mat-list-item (click)="snav.close(); activateShipments()">My Shipments</a>
                <a mat-list-item (click)="snav.close(); activateItems()">My Items</a>
                <a mat-list-item (click)="snav.close(); activateContainers()">MyContainers</a>
                <a mat-list-item (click)="snav.close(); activateSettings()">Settings</a>
                <a mat-list-item (click)="logout()">Logout</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="fixedy">
                <mat-toolbar color="primary">
                    <button mat-icon-button (click)="snav.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <h1>Package Beast</h1>
                </mat-toolbar>
            </div>
            <div class="scrolly">
                <app-shipments (shipmentDetail)="activateShipmentDetail($event)" *ngIf="shipmentsActive">
                </app-shipments>
                <app-items *ngIf="itemsActive"></app-items>
                <app-containers *ngIf="containersActive"></app-containers>
                <app-settings *ngIf="settingsActive"></app-settings>
                <app-shipment-detail [shipment]="shipment" *ngIf="shipmentDetailActive"></app-shipment-detail>
            </div>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>