<div class="d-flex flex-fill justify-content-center mb-3">
    <h1>Select your items to ship!&nbsp;&nbsp;</h1>
</div>

<mat-form-field class="full-width">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" autocomplete="off" placeholder="SKU or Description">
</mat-form-field>


<div class="d-flex flex-fill justify-content-center mb-3">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 flex-fill">

        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- SKU Column -->
        <ng-container matColumnDef="sku">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SKU </th>
            <td mat-cell *matCellDef="let item"> {{item.sku}} </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let item"> {{item.description}} </td>
        </ng-container>

        <!-- Width Column -->
        <ng-container matColumnDef="width">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Width </th>
            <td mat-cell *matCellDef="let item"> {{item.zDim}} </td>
        </ng-container>

        <!-- Length Column -->
        <ng-container matColumnDef="length">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Length </th>
            <td mat-cell *matCellDef="let item"> {{item.yDim}} </td>
        </ng-container>

        <!-- Height Column -->
        <ng-container matColumnDef="height">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Height </th>
            <td mat-cell *matCellDef="let item"> {{item.xDim}} </td>
        </ng-container>

        <!-- Height Column -->
        <ng-container matColumnDef="qty">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
            <td mat-cell *matCellDef="let row">
                <mat-form-field>
                    <mat-select (click)="$event.stopPropagation()" [(value)]="row.qty"
                        (openedChange)="qtySelectionOpened(row)">
                        <mat-option *ngFor="let item of [].constructor(99); let i = index" [value]="i+1"> {{ i+1 }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row (click)="toggle(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>