<button mat-icon-button mat-dialog-close class="close-button">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>

<!-- <h1 mat-dialog-title class="text-danger">Invalid address!</h1> -->
<h1 *ngIf="data.type == 'toAddress'" mat-dialog-title class="text-danger">Invalid ship to address!</h1>
<h1 *ngIf="data.type == 'fromAddress'" mat-dialog-title class="text-danger">Invalid ship from address!</h1>
<h1 *ngIf="data.type == 'sameFromAndToAddresses'" mat-dialog-title class="text-danger">Identical "Ship From" and "Ship
    To" addresses</h1>
<h1 *ngIf="data.type == 'overweight'" mat-dialog-title class="text-danger">Overweight shipment</h1>


<mat-dialog-content>
    <h6 *ngIf="data.type == 'toAddress' || data.type == 'fromAddress'">We are unable to generate quotes for the
        specified address. Please verify and correct the address.</h6>
    <h6 *ngIf="data.type == 'sameFromAndToAddresses'">"Ship from" and "ship to" addresses are identical. Please verify
        and try again.</h6>
    <h6 *ngIf="data.type == 'overweight'">Total weight of items must be less than 150 lbs.</h6>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close type="button">Close</button>
</mat-dialog-actions>