<div class="container-fluid justify-content-center overflow-auto minor-view-background">
    <div class="row justify-content-center">
        <div class="col-md-6 full-width p-5">
            <mat-card class="pt-5 px-5 text-center">
                <mat-card-header class="d-flex justify-content-center">
                    <mat-card-title>
                        <h1>
                            <img id="card-logo" src="../../../assets/PackageBeast.png" alt="pbLogo">
                        </h1>
                        <h1 class="py-5">Password Reset Email Sent</h1>
                    </mat-card-title>
                </mat-card-header>

                <h4>We emailed you instructions for setting your password. You should
                    receive the email in the next 5 minutes. If you don't receive an email, please make sure you
                    entered the correct email address and check your spam folder.</h4>
            </mat-card>
        </div>
    </div>
</div>