#rendererContainer {
    display: block;
    width: 67vw;
    height: 75vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    outline: none;
}

.table-container {
    height: 75vh;
    width: 24vw;
    overflow: auto;
  }

//     background: #a3fd59;

  
.highlightRow {
    background-color: pink;
}

.greyRow {
    background-color: grey;
}