#rendererContainer {
    display: block;
    height: 75vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    outline: none;
}

.full-width-renderer {
    width: 100%
}

.two-thirds-width-renderer {
    width: 67%;
}

.table-container {
    height: 75vh;
    width: 33%;
    overflow: auto;
  }

//     background: #a3fd59;

  
.highlightRow {
    background-color: pink;
}

.greyRow {
    background-color: grey;
}