<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" href="" (click)="logout()">Logout</a>
        <a class="nav-item nav-link navbar-nav ml-auto">{{currentUser.first_name}}</a>
    </div>
</nav> -->

<!-- <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <h1 class="display-1">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>



<nav class="navbar navbar-expand-md navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">Package Beast</a>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">{{currentUser.first_name}}</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Right</a>
            </li>
        </ul>
    </div>
</nav>
-->



<!-- main app container -->

<div *ngIf="currentUser">
    <app-dashboard></app-dashboard>
</div>

<!-- main app container  -->
<div class="full-height" *ngIf="!currentUser">
    <alert></alert>
    <router-outlet></router-outlet>

</div>

<!-- credits -->
<!-- <div class="text-center">
    <p>
        <a href="https://jasonwatmore.com/post/2019/06/10/angular-8-user-registration-and-login-example-tutorial" target="_top">Angular 8 - User Registration and Login Example & Tutorial</a>
    </p>
    <p>
        <a href="https://www.peterzachengineeringanddesign.com/" target="_top">PeterZach.com</a>
    </p>
</div> -->