<button type="button" class="close" mat-button mat-dialog-close aria-label="Close"><span
        aria-hidden="true">×</span></button>
<h2 mat-dialog-title>Privacy Policy</h2>
<mat-dialog-content class="mat-typography">
    <h3>Effective Date: January 1, 2021</h3>
    <p>
        A. Privacy Statement<br>Your privacy is valued and respected at Package Beast, Inc. (“we”, “our”, “us”). This
        Privacy Policy (“Privacy
        Policy”) describes the types of information, including Personal Data, that we gather from you when you use our
        website (including http://www.packagebeast.com, apps, services (our “Service”), as well as your choices
        regarding
        use and disclosure of your Personal Data. As used in this Privacy Policy, the term “Personal Data” (“Personal
        Data”) means information that identifies you directly orindirectly, by reference to identifier(s) such as your
        name, identification number, locationdata, online identifier or one or more factors specific to your physical,
        physiological, genetic, mental, economic, cultural or social identity.By accessing our Service, you agree to be
        bound by this Privacy Policy. If you do not agree to the terms of this Privacy Policy, you cannot use our
        Service. Each time you use our Service, the current version of the Privacy Policy will apply. Accordingly,
        whenever youuse our Service, you should check the date of this Privacy Policy (which appears at the top) and
        review any changes since the last version. This Privacy Policy is applicable to all Service visitors, registered
        users, and all other users of our Service.Further, you acknowledge that this Privacy Policy is part of our Terms
        of Service,which is incorporated by reference, and by accessing or using our Service, you agree to be bound by
        the Terms of Service. If you do not agree to our Terms of Service, you cannot use our Service.If you have any
        questions about our privacy practices, please refer to the end of this Privacy Policy for information on how to
        contact us.<br>
        B. Personal Data Collected by Package Beast<br>
        When you use our Service, Package Beast collects
        information (i) that you knowingly and voluntarily Service (such as through forms or profile screens) including
        registration/account setup information, and (ii) that we are able to collect from your web browser, cookies and
        other similar technologies.<br>
        1.Personal Data that you Knowingly and Willingly Provide<br>
        Package Beast collects the information that you knowingly and voluntarily provide when you use our Service (such
        as through web forms or
        profile screens), including registration/account setup information, profile details, payment information, and
        ratings information. We primarily use this information to provide you the Service. You can choose not to provide
        us with certain Personal Data, but then you may not be able to
        take advantage of our Service or other available features we offer. The information that we collect and use may
        include the following kinds of Personal Data:</p>
    <p>
    <ul>
        <li>First and Last Name</li>
        <li>Email Address</li>
        <li>Credit and/or Debit Card Information</li>
        <li>Purchase Information, including content and the time of the purchase</li>
        <li>Postal Address</li>
        <li>Telephone Number</li>
    </ul>
    <p>
        Personal Data From and/or About Others.We may also collect and store Personal Data about other people that
        you provide to us, as well as information about you provided by others. If you or other users use our Service to
        upload, share and/or distribute content (including videos, comments or other submissions), and such content
        contains Personal Data about you or others, such information may be stored in order to allow for such uploading,
        sharing and/or distribution. As a requirement to use our Service, you acknowledge that you have the appropriate
        consent(s) from any individual (or the parent of any child under the age of 13 to share their Personal Data with
        us.We may also receive your Personal Data from trusted third parties (including, for example, business partners,
        sub-contractors in technical, payment and delivery of membership services, advertising networks, analytics
        providers, search information providers, credit reference agencies).<br>
        2. Personal Data that we collect from you<br>
        Package Beast collects information that is sent to us automatically by your web browser. Package Beast may
        use this information to generate aggregate and/or anonymous statistics about visitors to our Service. This
        information typically includes details about your:
    </p>
    <ul>
        <li>IP Address</li>
        <li>Browser Type</li>
        <li>Browser Plug-In Details</li>
        <li>Operating System</li>
        <li>Local Time Zone</li>
        <li>Date and Time of Each Visitor Request (e.g. web pages selected and time spent on each
            page)</li>
        <li>Referring Site and/or Search Engine</li>
        <li>Device Type (e.g. desktop, laptop, tablet, phone, etc.)</li>
        <li>Screen Size,
            Color, Depth, and System Fonts</li>
        <li>Language Preference</li>
    </ul>
    <p>
        Package Beast may use non-Personal Data for various business
        purposes such as providing customer service, fraud prevention, market research, and improving our Service. The
        information we receive depends on the settings on your browser. Please
        check your browser if you want to learn what information your browser sends or how to change your
        settings.<br>
        3.Aggregate Information<br>
        We may aggregate and/or anonymize and/or pseudonymize all information that we
        collect from you, including Personal Data. This may be done for the purpose of market research on brands and
        products, marketing campaigns, and advertising. Personal DataCollected by Cookies, Web Beacons and Other
        Technologies.<br>
        4. Cookies<br>
        Package Beast may obtain information about you by installing “cookies” on your computer’s
        hard drive. We use cookies to collect statistical information about the ways visitors use our Service including
        which pages they visit, which links they use, and how long they stay on each page. Package Beast also may use
        cookies to create a database of your previous choices and preferences, saving you time and effort.When you first
        access the Site, you will receive a message advising you that cookies are in use.By continuing to browse the
        Site, you agree to our use of cookies as described in this Privacy Notice.If you do not wish to receive cookies,
        you may set your browser to reject cookies or to alert you when a cookie is placed on your computer. If you
        limit or disable the use of cookies when you visit Package Beast, you may be unable to use the full of the
        functionality of our Service. For more information about cookies, visit:http://www.allaboutcookies.org.We use
        the following cookies:Web Beacons. Web beacons are small pieces of data that are embedded in images on the pages
        of Service. Web beacons may involve the transmission of information directly to us, to another party on our
        behalf, or to another party in accordance with its Privacy Policy. We may use web beacons to bring together
        information we collect about you.Pixel Tags. These enable us to send email messages in a format customers can
        read, and they tell us whether mail has been opened. We may use this information to reduce or eliminate messages
        sent to customers.<br>
        C. Third Parties<br>
        Advertisers and third parties also may collect information about your activity
        on ourServiceand on third-partysites and applications using tracking technologies. Tracking data collected by
        these advertisers and third parties can be used to decide which advertisements you see on our Service, and on
        third-partysites and applications, but does not identify you personally and is not associated with your
        registration account. <br>
        D. Package Beast’s Do Not Track Policy<br>
        Package Beast does not respond to web browser “do not track” signals. As
        such, your navigation of our Service may be tracked as part of the gathering of quantitative user information
        described above. If you arrive at our Service by way of a link from a third party site that does respond to “do
        not track” requests, the recognition of any “do not track” request you have initiated will end as soon as you
        reach ourService.<br>
        E. How Is Your Personal Data Used?<br>
        We will only process your Personal Data, including sharing it
        with third parties, where (1) you have provided your consent which can be withdrawn at any time, by
        contactingsupport@packagebeast.com(2) the processing is necessary for the performance of a contract to which you
        are a party, (3) we are required by law, (4) processing is required to protect your vital interests or those of
        another person, or (5) processing is necessary for the purposes of our legitimate commercial interests, except
        where such interests are overridden by your rights and interests.We may use Personal Data we collect about you
        on its own or combine it with other information we have about you to:
    </p>
    <ul>
        <li>To create user accounts and/or profiles through registration;</li>
        <li>Perform internal operations, such as tracking and improving the effectiveness of our
            website, mobile experience, and marketing efforts;</li>
        <li>Provide product and/or Service fulfillment, such as creating
            accounts, managing purchases, payments, and more;</li>
        <li>Personalize user experiences, such as remembering your
            settings and preferences for things like language, font size, etc.;</li>
        <li>Provide support;Resolve disputes between
            users and/or a user and the company as set forth in our Terms of Service;</li>
        <li>Use the location of your device to
            prevent fraud or deliver other location-based services that you may request;</li>
        <li>Administer a sweepstakes, contest,
            or similar promotion;</li>
        <li>Advertise and market our products and Service – and those of our Business Partners
            –including to:oPresent targeted advertising, send or provide you with advertisements, promotions and
            offers;oAnalyze whether our advertisements, promotions, and offers are effective;oHelp us determine whether
            you
            may be interested in new products or services
            oCustomer Testimonials</li>
        <li>Conduct surveys;</li>
        <li>Conduct research;</li>
        <li>Receive
            feedback;</li>
        <li>Conduct audits;</li>
        <li>Provide information to our business partners;Provide information to the media;Provide
            information to our suppliers;</li>
        <li>Provide information to our representatives and/or advisors, such as our attorneys,
            accountants, and others to help us comply with legal, accounting, or security requirements;Transfer your
            information, such as to servers outside of the United States, or as part of a merger or sale of the
            business;</li>
        <li>Protect the rights, safety, and information of our members, third parties, as well as our own. This
            includes fraud prevention, business or product recalls, prosecuting and defending a court arbitration or
            similar
            proceeding, and more;</li>
        <li>We may also disclose your Personal Data as otherwise set forth in this
            Privacy Policy, as permitted by law, or with your consent.</li>
    </ul>
    <p>
        F. Who Can Access the Information We Collect?<br>
        We will only transfer your Personal Data to trusted third-parties who provide sufficient guarantees in respect
        of the
        technical and organizational security measures governing the processing to be carried out and who can
        demonstrate a commitment to compliancewith those measures.Where third parties are processing Personal Data on
        our behalf, they will be required to agree, by contractual means or otherwise, to process the Personal Data in
        accordance with the applicable law. This contract will stipulate, amongst other things, that the third party and
        its representative shall act only on our instructions, or as permitted by law.Package Beast may disclose your
        Personal Data in the following instances:Agents. We employ other companies and individuals to perform functions
        on our behalf. Examples of such functions include fulfilling orders, delivering packages, sending postal mail
        and e-mail, removing repetitive information from customer lists, analyzing data, providing technical support,
        providing marketing assistance, providing search results and links (including paid listings and links),
        processing credit card payments, and providing customer service. We share our users’ Personal Data with these
        agents as we deem necessary for such third parties to perform their functions.Employees. Only authorized
        employees have access to your Personal Data.Affiliates. When you are asked for information while on our Service,
        you are sharing that information with Package Beast, and our various affiliates, unless specifically
        statedotherwise. As a result of this sharing, you may receive communications from any of our affiliates.
        Affiliates and Subsidiaries. Package Beast may share Personal Data with our corporate subsidiaries and
        affiliates for uses consistent with this Privacy Policy.Affiliated Businesses We Control. We may share your
        Personal Data with the affiliated businesses we control to make sure that your experience with us is as seamless
        as possible and that you have the full benefit of our offerings. The use of your Personal Data by such
        controlled affiliates remains subject to this Privacy Policy.Authorized Business Partners. These include agents,
        contractors, vendors, licensors,resellers, system integrators, etc. Package Beast, our affiliates, and our
        business partners may share this Personal Data with each other and use it consistent with this Privacy Policy.
        They may also combine it with other information to provide and improve our products, Service, content, and
        advertising.Authorized Service Providers. An authorized service provider (“ASP”) is an individual or entity that
        is permitted to service products that are still covered by warranties held by another entity. Service provided
        by anyone other than an authorized service provider will generally render a warranty void. We may share
        information with such ASPs to perform services on our behalf. When we disclose your Personal Data to these
        persons,it is subject to agreements that require these individuals and entities to process your Personal Data
        only on our instructions and in compliance with this Privacy Policy.Advertisers. Third-party advertisers and
        advertising platforms also may serve targeted advertisements as part of our Service. For more information,
        please see our section on third party advertising. Please be aware that the information practices of third-party
        advertisers or platforms collecting data on ourServiceare not covered by this Privacy Policy.Authorized Business
        Partners, Advertisers, Agents, and Promotional Offers. We may enter into alliances, partnerships or other
        business arrangements with third parties to share Personal Data for the purpose of providing you with
        information regarding products and services that we think may be of interest to you. We may also share your
        information with third party partners in order for them to better target products and services to their
        customers. If you do not want to receive such offers, please contact us using the procedure listed in Section M
        (Your Rights) below.Other Users. Please remember that any information you share in public areas of our Service,
        such as on message boards or feedback sections, becomes public and anyonemay take and use that information.
        Please be careful about what you disclose in these portions of our Service and do not post any Personal Data
        that you expect to keep private. We strongly encourage you not to use any Personal Data in your username or
        password. If your Personal Data is posted on one of our community forums, you may contact us at
        support@packagebeast.comto have such information removed.Other Entities.If you provide any Personal Data to us
        for posting in areas of our Service that may be publicly viewed (e.g., blogs or messaging features), your
        Personal
        Data will be available to third parties who use our Service. Please be cautious when using the public features
        of our Service.To Comply with Legal Process, Protect Package Beast, or Enforce our Rights. Wemay release your
        Personal Data when it is necessary to (i) conform to legal requirements or comply with legal process; (ii)
        enforce or apply our conditions of use and other agreements (iii) protect the rights, safety or property of
        Package Beast, our affiliates, service providers, our users or the public, or (iv) prevent a crime or protect
        national security (including exchanging information with other companies and organizations for fraud protection
        and credit risk reduction).As Part of a Merger or Sale of Business. We may disclose your Personal Data in
        connection with a substantial corporate transaction, such as the sale of our business, a divestiture, merger,
        consolidation, or asset sale, or in the unlikely event of bankruptcy.<br>
        G. Selling of Personal Information<br>
        We will not sell your Personal Data to third parties for their use without your consent.<br>
        H.Minors and Children Privacy<br>
        1. Children Online Protection<br>
        Our Service is not directed to children under the age of 16, if you are not
        16 years or older, do not use our Service. We do not knowingly collect Personal Data from children under the age
        of 16. If we learn that Personal Data of persons less than 16 years-of-age has been collected through our
        Service, we will take the appropriate steps to delete this information. If you are a parent or guardian and
        discover that your child or a minor under the age of 13 has posted, submitted or otherwise communicated Personal
        Data toour Service without your consent, then you may alert us at support@packagebeast.comso that we may take
        appropriate action to remove the minor’s Personal Data from our systems.<br>
        2. Erasure Law<br>
        In accordance with California law, minors under the age of 18 residing in California may remove or request and
        obtain removal of
        content and information that they post on the website or app. In order to remove or to request and obtain
        removal of such content andinformation, the user must alert us at support@packagebeast.com.Users should be aware
        that removal of the content and information posted by a minor does not ensure complete or comprehensive removal
        of the content or information posted on our Service.Under certain circumstances, Package Beast may not have to
        comply with the above removal requirements. Package Beast also reserves the right, to the extent permitted
        bylaw, to anonymize the posted content or information or to make such content or
        information invisible to other users and the public instead of removing or deleting the content or
        information.<br>
        I. Links to Third Party Services<br>
        Our Service may contain links to third party websites, applications
        and services not operated by us. These links are provided as a service and do not imply any endorsement by
        Package Beast of the activities or content of these sites, applications orservices nor any association with
        their operators. Package Beast is not responsible for the privacy policies or practices of any third party
        including websites or services directly linked to our Service. We encourage you to review the privacy policies
        of any third partysite that you link from our Service.<br>
        J. Social Media Features & Widgets<br>
        Our Service includes social media features, such as the Facebook “Like” button and widgets, such as the “Share
        This”
        button or
        authenticating your identity by logging into our Service via a social media account. These features may collect
        your IP address, which page you are visiting on our Service, and may set a cookie to enable the feature to
        function properly. Social media features and widgets are either hosted by a third partyor hosted directly on our
        Service. Your interactions with these features are governed by the privacy policy of the company providing
        it.<br>
        K. Security, Storage, & Retention<br>
        1. Security<br>
        We take reasonable technical and organizational precautions to protect
        the confidentiality, security and integrity of your Personal Data. Although we use security measures to help
        protect your Personal Data against loss, misuse or unauthorized disclosure, we cannot guarantee the security of
        information transmitted to us over the Internet.<br>
        2. Storage<br>
        The Personal Data that you provide to us is generally
        stored on servers located in the United States. If you are located in another jurisdiction, you should be aware
        that once your Personal Data is submitted through our Service, it will be transferred to our serversin the
        United States and that the United States currently does not have uniform data protection laws in
        place.<br>
        3. Retention<br>
        We will retain your information for as long as is needed to provide the service. If you wish to
        cancel your account or request that we no longer use your information to provide you service, contact us at
        support@packagebeast.com.We will retain and use
        your information as necessary to comply with our legal obligations, resolve disputes, and enforce our
        agreements.<br>
        L. Package Beast International Users<br>
        1. Consent to Transfer<br>
        We are headquartered in the United States.
        Your Personal Data may be accessed by us or transferred to us in the United States or to our affiliates,
        partners, merchants, or service providers who are located worldwide. If you are visiting our Service from
        outsidethe United States, be aware that your information may be transferred to, stored, and processed in the
        United States where our servers are located, and our central databaseis operated. By using our Service, you
        consent to any transfer of this information.We will protect the privacy and security of Personal Data according
        to this privacy statement, regardless of where it is processed or stored, however you explicitly acknowledge and
        consent to the fact that Personal Data stored or processed in the United States will be subject to the laws of
        the United States, including the ability of governments, courts or law enforcement or regulatory agencies of the
        United States to obtain disclosure of your Personal Data.<br>
        M.Package Beast Changes to this Privacy Policy<br>
        We reserve the right to update or modify this Privacy Policy from time to time. If we make any material changes
        to this Privacy Policy or the way we use, share or collect Personal Data, we will notify you by revising the
        “Effective Date” at the top of this Privacy Policy, prominently posting an announcement of the changes on our
        Service, orsending an email to the email address you most recently provided us (unless we do not have such an
        email address) prior to the new policy taking effect. Users are bound by any changes to the Privacy Policy when
        he or she uses our Service after notice of such changes has been communicated. We encourage you to review this
        Privacy Policy regularly to ensure that you are familiar with Package Beast’s current practices.<br>
        N.Your Rights<br>
        1. Correction & Removal<br>
        If any of the information that we have about you is incorrect, or you wish to have
        information (including Personal Data) removed from our records, please contact us at support@packagebeast.com.
        We will respond to such inquiries within forty-five (45) business days.2.MarketingBy consenting to this Privacy
        Policy, you agree to receive marketing materials from us. If Personal Data is collected by us for marketing
        purposes, we will usually inform you
        before collecting your data or sharing it for third party purposes. You can prevent the processing of your
        Personal Data for these purposes by checking certain boxes on the forms we used to collect your personal data.
        Additionally, if you prefer not to receive marketing messages from us, please let us know by clicking on the
        unsubscribe link within any marketing message that you receive, or by sending a message to us at
        support@packagebeast.com<br>
        3. Your California Rights<br>
        FOR RESIDENTS OF CALIFORNIA ONLY. Section 1798.83 of the
        California Civil Coderequires select businesses to disclose policies relating to the sharing of certain
        categories of your Personal Data with third parties. If you reside in California and have provided your Personal
        Data to Package Beast, you may request information about our disclosures of certain categories of Personal Data
        to third parties for direct marketing purposes. Such requests must be submitted to us at one of the following
        addresses: support@packagebeast.com or Package Beast, Attn: California Privacy Rights, PO BoxDes Moines, Iowa
        50322Within thirty (30) days of receiving such a request, we will provide a list of the categoriesof Personal
        Data disclosed to third parties for third-party direct marketing purposes during the immediately preceding
        calendar year, along with the names and addresses of those third parties. This request may be made no more than
        once per calendar year. We reserve our right not to respond to requests submitted other than to the address
        specified in this Section.<br>
        O. Privacy Inquiries<br>
        If you have any questions or concerns about this Privacy Policy or
        our privacy practices please contact us as follows:By emailing the Privacy Department at
        support@packagebeast.comBy mail post to: Package BeastPrivacy DepartmentPO BoxDes Moines, Iowa 50322
    </p>
</mat-dialog-content>
<mat-dialog-actions align="start">
    <!-- <button mat-button mat-dialog-close>Cancel</button> -->

    <button mat-dialog-close type="button" color="primary" mat-raised-button>Dismiss</button>

</mat-dialog-actions>


<!-- Copyright 2020 Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license -->