<ng-container *ngIf="timeout">
    <div class="container justify-content-start mb-3">
        <h6 class="pt-3">No shipment details found</h6>
        <div class="pt-3">
            <button mat-raised-button color="warn" (click)="delete()" type="button">Delete Shipment</button>
        </div>
    </div>
</ng-container>

<mat-tab-group>
    <ng-container *ngFor="let c of nonEmptyContainers; let i=index">
        <mat-tab>
            <ng-template mat-tab-label>
                {{c.description}}
            </ng-template>
            <app-rendering [items]="items" [container]="c"></app-rendering>
        </mat-tab>
        <mat-tab *ngIf="i==nonEmptyContainers.length-1">
            <ng-template mat-tab-label>
                Shipment Details
            </ng-template>

            <div class="container">
                <div class="container">
                    <div class="d-flex row justify-content-center mb-3">
                        <h1>Shipment Details&nbsp;&nbsp;</h1>
                    </div>

                    <ng-container *ngFor="let nonEmptyContainer of nonEmptyContainers">
                        <div class="pb-3">
                            <div>Shipping Container SKU: {{nonEmptyContainer.sku}} </div>
                            <div>Shipping Container Description: {{nonEmptyContainer.description}}</div>
                            <div>Shipping Container Dimensions - Length:
                                {{nonEmptyContainer.yDim | units: nonEmptyContainer.units: currentUser.units | number:'1.0-3'}}
                                {{currentUser.units}};
                                Width:
                                {{nonEmptyContainer.zDim | units: nonEmptyContainer.units: currentUser.units | number:'1.0-3'}}
                                {{currentUser.units}};
                                Height:
                                {{nonEmptyContainer.yDim | units: nonEmptyContainer.units: currentUser.units | number:'1.0-3'}}
                                {{currentUser.units}};
                                Volume:
                                {{nonEmptyContainer.volume | volumeUnits: nonEmptyContainer.units: currentUser.units | number:'1.0-0'}}
                                {{currentUser.units}}<sup>3</sup>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mb-3">

                            <table mat-table [dataSource]="itemsDataSource" class="mat-elevation-z8">

                                <!--- Note that these columns can be defined in any order.
                                      The actual rendered columns are set as a property on the row definition" -->

                                <!-- sku Column -->
                                <ng-container matColumnDef="sku">
                                    <th mat-header-cell *matHeaderCellDef>SKU</th>
                                    <td mat-cell *matCellDef="let item">
                                        <ng-container *ngIf="item.container==nonEmptyContainer.id">
                                            {{item.sku}}
                                        </ng-container>
                                    </td>
                                </ng-container>

                                <!-- description Column -->
                                <ng-container matColumnDef="description">
                                    <th mat-header-cell *matHeaderCellDef> Description </th>
                                    <td mat-cell *matCellDef="let item">
                                        <ng-container *ngIf="item.container==nonEmptyContainer.id">
                                            {{item.description}}
                                        </ng-container>
                                    </td>
                                </ng-container>

                                <!-- qty Column -->
                                <ng-container matColumnDef="qty">
                                    <th mat-header-cell *matHeaderCellDef> Quantity </th>
                                    <td mat-cell *matCellDef="let item">
                                        <ng-container *ngIf="item.container==nonEmptyContainer.id">
                                            {{item.qty}}
                                        </ng-container>
                                    </td>
                                </ng-container>


                                <tr mat-header-row *matHeaderRowDef="itemsDisplayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: itemsDisplayedColumns;"></tr>
                            </table>
                        </div>
                    </ng-container>

                    <div>
                        <p>Containers Analyzed</p>
                    </div>

                    <div class="d-flex justify-content-center mb-3">
                        <table mat-table [dataSource]="containersDataSource" class="mat-elevation-z8">

                            <!--- Note that these columns can be defined in any order.
                                      The actual rendered columns are set as a property on the row definition" -->

                            <!-- sku Column -->
                            <ng-container matColumnDef="sku">
                                <th mat-header-cell *matHeaderCellDef>SKU</th>
                                <td mat-cell *matCellDef="let container"> {{container.sku}} </td>
                            </ng-container>

                            <!-- description Column -->
                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef> Description </th>
                                <td mat-cell *matCellDef="let container"> {{container.description}} </td>
                            </ng-container>

                            <!-- Length Column -->
                            <ng-container matColumnDef="xDim">
                                <th mat-header-cell *matHeaderCellDef> Length ({{currentUser.units}})</th>
                                <td mat-cell *matCellDef="let container">
                                    {{container.yDim | units: container.units: currentUser.units | number:'1.0-3'}}
                                </td>
                            </ng-container>

                            <!-- Width Column -->
                            <ng-container matColumnDef="zDim">
                                <th mat-header-cell *matHeaderCellDef> Width ({{currentUser.units}})</th>
                                <td mat-cell *matCellDef="let container">
                                    {{container.zDim | units: container.units: currentUser.units | number:'1.0-3'}}
                                </td>
                            </ng-container>

                            <!-- Height Column -->
                            <ng-container matColumnDef="yDim">
                                <th mat-header-cell *matHeaderCellDef> Height ({{currentUser.units}})</th>
                                <td mat-cell *matCellDef="let container">
                                    {{container.xDim | units: container.units: currentUser.units | number:'1.0-3'}}
                                </td>
                            </ng-container>

                            <!-- Volume Column -->
                            <ng-container matColumnDef="volume">
                                <th mat-header-cell *matHeaderCellDef>Volume ({{currentUser.units}}<sup>3</sup>)</th>
                                <td mat-cell *matCellDef="let container">
                                    {{container.volume | volumeUnits: container.units: currentUser.units | number:'1.0-0'}}
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="containersDisplayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: containersDisplayedColumns;"></tr>
                        </table>
                    </div>

                </div>

                <!-- <mat-checkbox [checked]="multiBinPack" [disabled]="true" (change)="multiBinPack=!multiBinPack">Pack
                    items
                    in multiple
                    containers to
                    minimize total shipping volume
                </mat-checkbox> -->

                <div class="d-flex justify-content-start mb-3">
                    <div class="row pt-3">
                        <button mat-raised-button color="warn" (click)="delete()" type="button">Delete Shipment</button>
                    </div>
                </div>
            </div>

        </mat-tab>
    </ng-container>
</mat-tab-group>