<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            Shipment Details
        </ng-template>
        <div>Shipment Details Go Here</div>
        <div>
            <button mat-raised-button color="warn" (click)="delete()" type="button">Delete Shipment</button>
        </div>
    </mat-tab>
    <ng-container *ngFor="let c of containers">
        <mat-tab>
            <ng-template mat-tab-label>
                {{c.description}}
            </ng-template>
            <app-rendering [items]="items" [container]="c"></app-rendering>
        </mat-tab>
    </ng-container>
</mat-tab-group>