<button mat-icon-button mat-dialog-close class="close-button">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<h1 mat-dialog-title class="text-danger">Alert!</h1>
<mat-dialog-content>
    <h6>Only <span class="text-danger"><strong>{{data.numberFitItems}} of {{data.numberTotalItems}}</strong></span>
        items you are trying to
        ship fit in
        the largest selected shipping container!</h6>
    <p>Try using a larger shipping container or reduce the number of items shipped.</p>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="true" type="button">Close</button>
</mat-dialog-actions>