<div class="d-flex flex-row">
    <div class="pl-3 pt-3 card-container">
        <mat-card class="pricing-card">
            <mat-card-header>
                <div mat-card-avatar class="pricing-card-header-image"></div>
                <mat-card-title>
                    <h1 class="pb-3">Minimal</h1>
                </mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <div class="trial">$2/mo</div>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Trial Photo"> -->
            <mat-card-content>
                <ul>
                    <li>5 Shipments/Month</li>
                    <li>5 Inventory Items</li>
                    <li>5 Shipping Containers</li>
                </ul>
            </mat-card-content>
            <mat-card-actions>
                <button class="full-width" color="accent" mat-raised-button>BUY NOW</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="pl-3 pt-3 card-container">
        <mat-card class="pricing-card">
            <mat-card-header>
                <div mat-card-avatar class="pricing-card-header-image"></div>
                <mat-card-title>
                    <h1 class="pb-3">Standard</h1>
                </mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <div class="standard">$10/mo</div>

            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Standard Photo"> -->
            <mat-card-content>
                <ul>
                    <li>50 Shipments/Month</li>
                    <li>50 Inventory Items</li>
                    <li>50 Shipping Containers</li>
                </ul>
            </mat-card-content>
            <mat-card-actions>
                <button class="full-width" color="accent" mat-raised-button>BUY NOW</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="pl-3 pt-3 card-container">
        <mat-card class="pricing-card">
            <mat-card-header>

                <div mat-card-avatar class="pricing-card-header-image"></div>
                <mat-card-title>
                    <h1 class="pb-3">Premium</h1>
                </mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <div class="premium">$30/mo</div>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Premium Photo"> -->
            <mat-card-content>
                <ul>
                    <li>300 Shipments/Month</li>
                    <li>300 Inventory Items</li>
                    <li>300 Shipping Containers</li>
                </ul>
            </mat-card-content>
            <mat-card-actions>
                <button class="full-width" color="accent" mat-raised-button>BUY NOW</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="p-3 card-container">
        <mat-card class="pricing-card">
            <mat-card-header>
                <div mat-card-avatar class="pricing-card-header-image"></div>
                <mat-card-title>
                    <h1 class="pb-3">Beast Mode</h1>
                </mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <div class="beast-mode">$50/mo</div>

            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Beast Mode Photo"> -->
            <mat-card-content>
                <ul>
                    <li>1000 Shipments/Month</li>
                    <li>Unlimited Inventory Items</li>
                    <li>Unlimited Shipping Containers</li>
                </ul>
            </mat-card-content>
            <mat-card-actions>
                <button class="full-width" color="accent" mat-raised-button>BUY NOW</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>