<div class="container-fluid justify-content-center overflow-auto login-container">
  <div class="row justify-content-center">
    <div class="col-md-6 full-width p-5">
      <mat-card class="pt-5 px-5 text-center">

        <mat-card-header class="d-flex justify-content-center">
          <mat-card-title>
            <h1 class="pb-3">
              <img id="card-logo" src="../../../assets/PackageBeast.png" alt="pbLogo">
            </h1>
            <h1>Login</h1>
          </mat-card-title>
        </mat-card-header>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div>
            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input type="email" autocomplete="email" matInput [formControl]="loginForm.get('email')"
                placeholder="Ex. pat@example.com">
              <mat-error *ngIf="loginForm.get('email').hasError('pattern')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="loginForm.get('email').hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="loginForm.get('email').hasError('loginFail')">
                Incorrect email or password
              </mat-error>
            </mat-form-field>
            <br />
            <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput [formControl]="loginForm.get('password')" placeholder="password">
              <mat-error *ngIf="loginForm.get('password').hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="loginForm.get('password').hasError('loginFail')">
                Incorrect email or password
              </mat-error>
            </mat-form-field>

            <mat-card-actions>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-4 col-sm-12 pb-3 px-0">
                    <button class="full-width" color="accent" mat-raised-button [disabled]="loading">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                      Login
                    </button>
                  </div>
                  <div class="col-lg-4 col-sm-6 text-lg-right px-0">
                    <a routerLink="/register" class="btn btn-link">Register</a>
                  </div>
                  <div class="col-lg-4 col-sm-6 text-lg-right px-0">
                    <a routerLink="/reset-password" class="btn btn-link">Forgot Password?</a>
                  </div>
                </div>

              </div>
            </mat-card-actions>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="footer">
        <p class="p-2 m-0">Yay! Code Deploy Definitely Works!</p>
      </div>
    </div>
  </div>
</div>