<div class="bricks d-flex justify-content-center">
  <div class="d-flex full-width">
    <div class="full-width p-5">
      <mat-card class="p-5 text-center">
        <h2>Welcome to Package Beast Beta 0.80</h2>

        <mat-card-header class="d-flex justify-content-center">
          <div mat-card-sm-image class="peace-sign"></div>

          <mat-card-title></mat-card-title>
        </mat-card-header>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div>
            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input type="email" autocomplete="email" matInput [formControl]="loginForm.get('email')"
                placeholder="Ex. pat@example.com">
              <mat-error *ngIf="loginForm.get('email').hasError('pattern') && submitted">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="loginForm.get('email').hasError('required') && submitted">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <br />
            <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput [formControl]="loginForm.get('password')" placeholder="password">
              <mat-error *ngIf="loginForm.get('password').hasError('required') && submitted">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>


            <mat-card-actions class="d-flex justify-content-left">
              <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Login
              </button>
              <a routerLink="/register" class="btn btn-link">Register</a>
              <a routerLink="/register" class="btn btn-link">Forgot Password?</a>
            </mat-card-actions>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>