.login-container {
    height: 100%;
    width: 100%;
    background-image: url(Boxes-Falling.webp);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.create-account-toolbar {
    background-color: orange;
}

.create-account-drawer {
    color: orange;
}