<button type="button" class="close" (click)="close()" aria-label="Close"><span aria-hidden="true">×</span></button>
<h2 mat-dialog-title>Edit Item</h2>
<form [formGroup]="editItemForm" (ngSubmit)="save()">
    <mat-dialog-content>
        <mat-form-field>
            <mat-label>SKU</mat-label>
            <input matInput [formControl]="editItemForm.get('sku')" placeholder="SKU (Optional)">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput [formControl]="editItemForm.get('description')" placeholder="Description">
            <mat-error *ngIf="editItemForm.get('description').hasError('required') && submitted">
                Description is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Length</mat-label>
            <input matInput [formControl]="editItemForm.get('length')" placeholder="Length">
            <mat-error *ngIf="editItemForm.get('length').hasError('required') && submitted">
                Length is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Width</mat-label>
            <input matInput [formControl]="editItemForm.get('width')" placeholder="Width">
            <mat-error *ngIf="editItemForm.get('width').hasError('required') && submitted">
                Width is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Height</mat-label>
            <input matInput [formControl]="editItemForm.get('height')" placeholder="Height">
            <mat-error *ngIf="editItemForm.get('height').hasError('required') && submitted">
                Height is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Units</mat-label>
            <mat-select [(value)]="units">
                <mat-option value="Inches">Inches</mat-option>
                <mat-option value="Millimeters">Millimeters</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit">Save</button>
        <button mat-raised-button (click)="close()" type="button">Close</button>
        <div class="empty-space"></div>
        <button mat-raised-button color="warn" (click)="delete()" type="button">Delete</button>
    </mat-dialog-actions>
</form>