<div class="d-flex overflow-auto view-container">
    <div class="container-fluid">
        <div class="row pr-lg-3">
            <div class="col-lg-4 pr-lg-0">
                <div class="pt-3">
                    <mat-card class="pricing-card"
                        [ngClass]="{'selectedSubscriptionType': subscriptionType === 'standard' && subscriptionInfo.subscriptionActive}">
                        <mat-card-header>
                            <!-- <div mat-card-avatar class="pricing-card-header-image"></div> -->
                            <mat-card-title>
                                <h2 class="pb-3">Standard</h2>
                            </mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="description">
                                <p>Great for online sellers and small business that typically have less than 50
                                    shipments
                                    per
                                    month</p>
                            </div>
                            <h2>$10/mo</h2>
                            <div class="banner-container"></div>
                            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Standard Photo"> -->

                            <ul>
                                <li>50 Shipments/Month</li>
                                <li>50 Inventory Items</li>
                                <li>50 Shipping Containers</li>
                            </ul>
                        </mat-card-content>
                        <mat-card-actions>
                            <div class="container">
                                <div class="row pt-3 pb-3">
                                    <div class="col-2"></div>
                                    <div class="col-8">
                                        <button
                                            *ngIf="subscriptionType != 'standard' || !subscriptionInfo.subscriptionActive"
                                            class="buy-now-button" color="accent" mat-raised-button
                                            (click)="updateSubscriptionType('standard')">
                                            Select
                                        </button>
                                        <button disabled
                                            *ngIf="subscriptionType === 'standard' && subscriptionInfo.subscriptionActive"
                                            class="buy-now-button" color="accent" mat-raised-button>
                                            SUBSCRIBED
                                        </button>
                                    </div>
                                    <div class="col-2"></div>
                                </div>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
            <div class="col-lg-4 pr-lg-0">
                <div class="pt-3">
                    <mat-card class="pricing-card"
                        [ngClass]="{'selectedSubscriptionType': subscriptionType === 'premium' && subscriptionInfo.subscriptionActive}">
                        <mat-card-header>

                            <!-- <div mat-card-avatar class="pricing-card-header-image"></div> -->
                            <mat-card-title>
                                <h2 class="pb-3">Premium</h2>
                            </mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="description">
                                <p>A perfect option for those wanting premium value for those shipping between 5 and 10
                                    packages
                                    every day. The premium subscription allows additional shipments, inventory items,
                                    and
                                    shipping containers.</p>
                            </div>
                            <h2>$30/mo</h2>
                            <div class="banner-container">
                            </div>
                            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Premium Photo"> -->

                            <ul>
                                <li>300 Shipments/Month</li>
                                <li>300 Inventory Items</li>
                                <li>300 Shipping Containers</li>
                            </ul>
                        </mat-card-content>
                        <mat-card-actions>
                            <div class="container">
                                <div class="row pt-3 pb-3">
                                    <div class="col-2"></div>
                                    <div class="col-8">
                                        <button
                                            *ngIf="subscriptionType != 'premium' || !subscriptionInfo.subscriptionActive"
                                            class="buy-now-button" color="accent" mat-raised-button
                                            (click)="updateSubscriptionType('premium')">
                                            Select
                                        </button>
                                        <button disabled
                                            *ngIf="subscriptionType === 'premium' && subscriptionInfo.subscriptionActive"
                                            class="buy-now-button" color="accent" mat-raised-button>
                                            SUBSCRIBED
                                        </button>
                                    </div>
                                    <div class="col-2"></div>
                                </div>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>

            <div class="col-lg-4 pr-lg-0">
                <div class="py-3">
                    <mat-card class="pricing-card"
                        [ngClass]="{'selectedSubscriptionType': subscriptionType === 'beastMode'}">
                        <mat-card-header>
                            <!-- <div mat-card-avatar class="pricing-card-header-image"></div> -->
                            <mat-card-title>
                                <h2 class="pb-3">Beast Mode</h2>
                            </mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="description">
                                <p>The name says it all! Beast Mode is for businesses that ship up to 1,000 packages a
                                    month.
                                    With Beast Mode, your business no limit on your inventory items or shipping
                                    containers.
                                </p>
                            </div>
                            <h2>$50/mo</h2>
                            <div class="banner-container">
                            </div>
                            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Beast Mode Photo"> -->

                            <ul>
                                <li>1000 Shipments/Month</li>
                                <li>Unlimited Inventory Items</li>
                                <li>Unlimited Shipping Containers</li>
                            </ul>
                        </mat-card-content>
                        <mat-card-actions>
                            <div class="container">
                                <div class="row pt-3 pb-3">
                                    <div class="col-2"></div>
                                    <div class="col-8">
                                        <button
                                            *ngIf="subscriptionType != 'beastMode' || !subscriptionInfo.subscriptionActive"
                                            class="buy-now-button" color="accent" mat-raised-button
                                            (click)="updateSubscriptionType('beastMode')">
                                            Select
                                        </button>
                                        <button disabled
                                            *ngIf="subscriptionType === 'beastMode' && subscriptionInfo.subscriptionActive"
                                            class="buy-now-button" color="accent" mat-raised-button>
                                            SUBSCRIBED
                                        </button>
                                    </div>
                                    <div class="col-2"></div>
                                </div>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>