<div class="d-flex overflow-auto view-container">
    <div *ngIf="loading" class="container-fluid">
        <div class="row my-3">
            <div class="col text-center">
                <h3>Processing Request</h3>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="d-flex justify-content-center py-5">
                    <mat-spinner color="accent"></mat-spinner>
                </div>
                <p>Please wait while we process your request.</p>
            </div>
        </div>
    </div>
    <div *ngIf="!loading" class="container-fluid">
        <div class="row pr-lg-3">
            <div class="col-lg-4 pr-lg-0">
                <div class="pt-3">
                    <mat-card class="pricing-card"
                        [ngClass]="{'selectedSubscriptionType': subscriptionType === 'standard' && subscriptionInfo.subscriptionActive}">
                        <mat-card-header>
                            <!-- <div mat-card-avatar class="pricing-card-header-image"></div> -->
                            <mat-card-title>
                                <h2 class="pb-3">Standard</h2>
                            </mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="description">
                                <p>Great for online sellers and small businesses that typically have less than 50
                                    shipments
                                    per
                                    month</p>
                            </div>
                            <h2>$10 / month</h2>
                            <div class="banner-container"></div>
                            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Standard Photo"> -->

                            <ul>
                                <li>50 Shipments / month</li>
                                <li>50 Inventory Items</li>
                                <li>50 Shipping Containers</li>
                            </ul>
                        </mat-card-content>
                        <mat-card-actions>
                            <div class="container">
                                <div class="row pt-3 pb-3">
                                    <div class="col-2"></div>
                                    <div class="col-8">
                                        <button
                                            *ngIf="subscriptionType != 'standard' || !subscriptionInfo.subscriptionActive"
                                            class="buy-now-button" color="accent" mat-raised-button
                                            (click)="selectSubscriptionType('standard')">
                                            Select
                                        </button>
                                        <button disabled
                                            *ngIf="subscriptionType === 'standard' && subscriptionInfo.subscriptionActive"
                                            class="buy-now-button" color="accent" mat-raised-button>
                                            SUBSCRIBED
                                        </button>
                                    </div>
                                    <div class="col-2"></div>
                                </div>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
            <div class="col-lg-4 pr-lg-0">
                <div class="pt-3">
                    <mat-card class="pricing-card"
                        [ngClass]="{'selectedSubscriptionType': subscriptionType === 'premium' && subscriptionInfo.subscriptionActive}">
                        <mat-card-header>

                            <!-- <div mat-card-avatar class="pricing-card-header-image"></div> -->
                            <mat-card-title>
                                <h2 class="pb-3">Premium</h2>
                            </mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="description">
                                <p>The premium subscription allows additional shipments, inventory items,
                                    and
                                    shipping containers and is a perfect option for those shipping between 5 and 10
                                    packages
                                    every day. </p>
                            </div>
                            <h2>$30 / month</h2>
                            <div class="banner-container">
                            </div>
                            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Premium Photo"> -->

                            <ul>
                                <li>300 Shipments / month</li>
                                <li>300 Inventory Items</li>
                                <li>300 Shipping Containers</li>
                            </ul>
                        </mat-card-content>
                        <mat-card-actions>
                            <div class="container">
                                <div class="row pt-3 pb-3">
                                    <div class="col-2"></div>
                                    <div class="col-8">
                                        <button
                                            *ngIf="subscriptionType != 'premium' || !subscriptionInfo.subscriptionActive"
                                            class="buy-now-button" color="accent" mat-raised-button
                                            (click)="selectSubscriptionType('premium')">
                                            Select
                                        </button>
                                        <button disabled
                                            *ngIf="subscriptionType === 'premium' && subscriptionInfo.subscriptionActive"
                                            class="buy-now-button" color="accent" mat-raised-button>
                                            SUBSCRIBED
                                        </button>
                                    </div>
                                    <div class="col-2"></div>
                                </div>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>

            <div class="col-lg-4 pr-lg-0">
                <div class="py-3">
                    <mat-card class="pricing-card"
                        [ngClass]="{'selectedSubscriptionType': subscriptionType === 'beastMode'}">
                        <mat-card-header>
                            <!-- <div mat-card-avatar class="pricing-card-header-image"></div> -->
                            <mat-card-title>
                                <h2 class="pb-3">Beast Mode</h2>
                            </mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="description">
                                <p>The name says it all! Beast Mode is for businesses that ship serious volume. With
                                    Beast Mode, your business may create up to 1000 shipments, 5000 inventory items, and
                                    5000 shipping containers per month.
                                </p>
                            </div>
                            <h2>$50 / month</h2>
                            <div class="banner-container">
                            </div>
                            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Beast Mode Photo"> -->

                            <ul>
                                <li>1000 Shipments / month</li>
                                <li>5000 Inventory Items</li>
                                <li>5000 Shipping Containers</li>
                            </ul>
                        </mat-card-content>
                        <mat-card-actions>
                            <div class="container">
                                <div class="row pt-3 pb-3">
                                    <div class="col-2"></div>
                                    <div class="col-8">
                                        <button
                                            *ngIf="subscriptionType != 'beastMode' || !subscriptionInfo.subscriptionActive"
                                            class="buy-now-button" color="accent" mat-raised-button
                                            (click)="selectSubscriptionType('beastMode')">
                                            Select
                                        </button>
                                        <button disabled
                                            *ngIf="subscriptionType === 'beastMode' && subscriptionInfo.subscriptionActive"
                                            class="buy-now-button" color="accent" mat-raised-button>
                                            SUBSCRIBED
                                        </button>
                                    </div>
                                    <div class="col-2"></div>
                                </div>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
        <mat-error>{{stripeError}}</mat-error>
    </div>
</div>