<div class="container">
    <div class="d-flex justify-content-center mb-3 mt-3">
        <h3>Change Password</h3>
    </div>

    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">


        <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input #password1 name="password1" type="password" matInput
                [formControl]="changePasswordForm.get('password1')" placeholder="password" autocomplete="new-password">
            <mat-error *ngIf="changePasswordForm.get('password1').hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="changePasswordForm.get('password1').hasError('minlength')">
                Password must be 8 characters or more
            </mat-error>
            <mat-error *ngIf="changePasswordForm.get('password1').hasError('changePasswordFail')">
                {{serverPasswordError}}
            </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="full-width">
            <mat-label>Repeat Password</mat-label>
            <input name="password2" type="password" matInput [formControl]="changePasswordForm.get('password2')"
                placeholder="password" autocomplete="new-password">
            <mat-error *ngIf="changePasswordForm.get('password2').hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="changePasswordForm.get('password2').hasError('minlength')">
                Password must be 8 characters or more
            </mat-error>
            <mat-error *ngIf="changePasswordForm.get('password2').hasError('mustMatch')">
                Passwords must match
            </mat-error>
        </mat-form-field>
        <button class="full-width" color="accent" mat-raised-button [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Change Password
        </button>
    </form>
</div>