<div class="justify-content-center overflow-auto view-container">
    <div class="full-width px-1 px-sm-3 px-md-5 py-5">
        <h1 class="text-center">Update Payment Method</h1>
        <!-- <mat-card class="text-center">
            <mat-card-header class="d-flex justify-content-center">
                <mat-card-title>
                    <h1>Update Payment Method</h1>
                </mat-card-title>
            </mat-card-header> -->


        <form class="checkout" #checkout="ngForm" novalidate (ngSubmit)="createPaymentMethod()"
            [formGroup]="stripeTest">
            <mat-form-field class="full-width">
                <mat-label>Name</mat-label>
                <input type="text" autocomplete="name" matInput [formControl]="stripeTest.get('name')"
                    placeholder="Jane Doe">
                <mat-error *ngIf="stripeTest.get('name').hasError('required')">
                    Please enter a valid email address
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Address</mat-label>
                <input type="text" matInput [formControl]="stripeTest.get('name')" placeholder="185 Awesome St">
                <mat-error *ngIf="stripeTest.get('addressLine1').hasError('required')">
                    Please enter an address
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>City</mat-label>
                <input type="text" matInput [formControl]="stripeTest.get('city')" placeholder="Chicago">
                <mat-error *ngIf="stripeTest.get('city').hasError('required')">
                    Please enter a city
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>State</mat-label>
                <input type="text" matInput [formControl]="stripeTest.get('state')" placeholder="IL">
                <mat-error *ngIf="stripeTest.get('state').hasError('required')">
                    Please enter a state
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Zip Code</mat-label>
                <input type="text" matInput [formControl]="stripeTest.get('zip')" placeholder="12345">
                <mat-error *ngIf="stripeTest.get('zip').hasError('required')">
                    Please enter a valid zip code
                </mat-error>
            </mat-form-field>
            <div>
                <label>
                    <div id="card-element" class="field"></div>
                    <span><span>Credit or debit card</span></span>
                </label>
            </div>

            <mat-card-actions>
                <button class="full-width" mat-raised-button color="accent" type="submit">
                    Subscribe
                </button>
            </mat-card-actions>
            <mat-error>{{stripeError}}</mat-error>

        </form>

        <!-- </mat-card> -->
    </div>
</div>