/* You can add global styles to this file, and also import other style files */
@import 'theme';
html, body { height: 100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

button:focus {
    outline: none !important;
}
.debug {
    background-color: red;
}

.debug2 {
    background-color: blue;
}

.add-circle-button {
    transform: scale(1.5);
}

/*Change text in autofill textbox*/
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.half-width {
    width: 50%
}
.full-width {
    width: 100%
}

.opacity-50 {
    opacity: 50%;
}
.pz-table {
    height: 600px;
    overflow: auto;
}
.custom-dialog-container .mat-dialog-container {
    overflow-y: hidden;
    position: relative!important;
}
.close {
    position: absolute;
    top: 8px;
    right: 16px;
    min-width: auto;
    font-size: 36px;
  }

.mat-row:hover {
background-color: lightgray;
cursor: pointer;
}

.mat-table {
  width:100%;
  border-style: solid;
  border-color: mat-color($app-accent);
  border-width: 2px 2px 2px 2px;
}

.mat-header-row {
    background-color: mat-color($app-accent, default);
    border-width: 0 0 1px 0;
}

.mat-header-cell {
    color: black;
    flex-direction: column;
    justify-content: center;
    font-size: medium;
}

.scrolly {
    z-index: -10;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    // background-color: blueviolet;
    // flex: 1;
    min-height: 500 px;
    padding: 0;
    margin: 0;
}


.spacer {
    height: 100 px;
    min-height: 100 px;
    margin: 0;
    padding: 0;
}

.fixedy {
    position: sticky;
    width: 100%;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 100; /* Ensure that your app's content doesn't overlap the toolbar */
}

.empty-space {
    flex: 1;
}

.drawer-edge {
    border-style: solid;
    border-color: mat-color($app-primary);
    border-width: 0 1px 0 0;
}
.fixActionRow {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
.newButton {
      width: 10vw;
}

.verticalCenter {
    margin-top: auto;
    margin-bottom: auto;
}

a.mat-list-item.active {
    background: mat-color($app-accent, lighter) !important;
    border-radius: 0 50px 50px 0;
}

.newOrEdited {
    background-color: white;
    animation-name: newOrEdited;
    animation-duration: .3s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

@keyframes newOrEdited {
    0%   {background-color: white;}
    100%  {background-color: mat-color($app-primary, lighter);}
    
}

// To use color="success" in angular directive, do something like below
// .mat-success {
//     background-color: mat-color($app-accent);
//     color: black;
//   }