/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

button:focus {
    outline: none !important;
}
.debug {
    background-color: red;
}

.debug2 {
    background-color: blue;
}

.add-circle-button {
    transform: scale(1.5);
}

/*Change text in autofill textbox*/
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.half-width {
    width: 50%
}
.full-width {
    width: 100%
}

.opacity-50 {
    opacity: 50%;
}
.pz-table {
    height: 600px;
    overflow: auto;
}
.custom-dialog-container .mat-dialog-container {
    overflow-y: hidden;
}
.mat-row:hover {
background-color: lightgray;
cursor: pointer;
}

.mat-table {
  width:100%;
}

.scrolly {
    z-index: -10;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    // background-color: blueviolet;
    // flex: 1;
    min-height: 500 px;
    padding: 0;
    margin: 0;
}


.spacer {
    height: 100 px;
    min-height: 100 px;
    margin: 0;
    padding: 0;
}

.fixedy {
    position: sticky;
    width: 100%;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 100; /* Ensure that your app's content doesn't overlap the toolbar */
}

.empty-space {
    flex: 1;
}
// Use this to style menu hover color
// .mat-list-item-content:hover {
//       background-color: green;
//  }