<button *ngIf="!data.forceAgree" type="button" class="close" mat-button mat-dialog-close aria-label="Close"><span
        aria-hidden="true">×</span></button>
<h2 mat-dialog-title> Package Beast Terms of ServiceLast Updated January 1, 2021. Please read these Terms of Service
    (“Terms”) carefully. </h2>
<mat-dialog-content class="mat-typography">
    <h3>Terms of Service Statement</h3>
    <p>
        BY USING THE SERVICE AND THE SITE, YOU AGREE TO THESE TERMS. IF YOU DO NOT AGREE, DO NOT USE THE SERVICE OR
        SITE.Services1.Service and Website. Package Beast (referred to, as applicable, as “Package Beast”, the
        “Service”,
        “we” or “us”) provides packaging optimization services intended to assist individuals and businesses shipping or
        packaging inventory. Package Beast is owned and operated by Package Beast, LLC, an Iowa limited liability
        corporation.2.Customer. As a customer of the Service or a representative of an entity that is a customer of the
        Service, you are a “Member” according to this agreement (or “you”). You represent that you have full power,
        capacity
        and authority to accept these Terms on behalf of yourself or your employer.3.Account Requirements. To set up an
        account and use the Service you must:Be 18 years of age, or the age of majority in your province, territory or
        country, tobecome a Member. Individuals under the age of 18, or applicable age of majority,may utilize the
        Service
        only with the involvement of a parent or legal guardian, under such person’s account and otherwise subject to
        these
        Terms.Provide your legal full name, valid email address, zip code, and any other information we request to
        complete
        your account-signup process.Provide us with one or more Payment Methods. “Payment Method” means a current,
        valid,
        accepted method of payment, as may be updated from time to timeand which may include payment through your
        account
        with a third party.Personally and manually create your account without using any automated means, except for
        any
        auto-complete feature offered by your internet service provider. A third party may not create an account for you
        and
        you must not allow any third party to use your information to create an account.4.Account Ownership.The member
        who
        created the account and whose Payment Method is charged (the “Account Owner”) has access to and control over the
        account and is responsible for any activity that occurs through the account. To maintain control over the
        account
        and prevent anyone from accessing the account, the Account Owner should maintain control over access to the
        Service
        and not reveal the password or details of the Payment Method associated with the account to anyone. Account
        owners
        are not allowed to share their account, log-in or any other access related credentials with any other party
        unless
        explicitly stated otherwise in the details related to the specific plan they
        purchased. Absent an explicit multi-user authorization, all accounts are intended for single-use only. You are
        responsible for updating and maintaining the accuracy of the information you provide to us relating to your
        account.
        We can terminate your account or place your account on hold in order to protect you and/or Package Beast. You
        must
        immediately notify us of any unauthorized use of your account. We will not be liable for any loss or damage from
        your failure to comply with this security obligation.Payment5.Billing. Package Beast may offer the Service
        through a
        variety of billing methods, which include, but are not limited to, one-time subscriptions, monthly recurring
        subscriptions, and annual recurring subscriptions (“Subscription”). Package Beast will bill you on the date you
        subscribe to the Service (“Subscription Date”), and will continue to bill you in accordance with your selected
        Subscriptionuntil you cancel the Service. You must cancel your Subscription at least one day prior to the next
        billing date to avoid a Subscription renewal.Fees will be billed to your Payment Method on the calendar day
        corresponding to the Subscription Date. Subscription fees are fully earned upon payment. In some cases your
        payment
        date may change, for example if your Payment Method has not successfully settled or if your Effective Date began
        on
        a day not contained in a given month.6.Payment Methods. To use the Service you must provide one or more Payment
        Methods. You can update your Payment Methods by going to the “Subscription/Billing” page of our Website.
        Following
        any update, you authorize us to continue to charge the applicable Payment Method(s). You authorize us to charge
        any
        Payment Method associated to your account in case your primary Payment Method is declined or no longer available
        to
        us for payment of your subscription fee. You remain responsible for any uncollected amounts. If a payment is not
        successfully settled, due to expiration, insufficient funds, or otherwise, and you do not cancel your account,
        we
        may suspend your access to the service until we have successfully charged a valid Payment Method. For some
        Payment
        Methods, the issuer may charge you certain fees relating to the processing of your Payment Method. Check with
        your
        Payment Method service provider for details.7.Cancellation.You can cancel your membership at any time, and you
        will
        continue to have access to the Service through the end of your pre-paid billingcycle. We do not provide refunds
        or
        credits for any partial membership periods. To cancel, please navigate our Website to your account profile and
        follow instructions from there, or contact our Customer Support team atsupport@packagebeast.com. If you cancel
        your
        membership, your account willautomatically close at the end of your current billing period.
        8.Changes to the Price and Subscription Plans.We reserve the right to change our subscription plans or adjust
        pricing for our Service or any components thereof in any manner and at any time as we may determine in our sole
        and
        absolute discretion. Except as otherwise expressly provided for in these Terms, any price changes or changes to
        your
        subscription plan will take effect following notice to you.9.No Refunds.Payments are nonrefundable and there are
        no
        refunds or credits for partially used periods. Following any cancellation, however, you will continue to have
        access
        to the service through the end of your current billing period.10.Money Back Guarantee. Notwithstanding Section
        9, if
        you contact our CustomerSupport department within 14 days of your original sign-up, you are eligible for our
        Money
        Back Guarantee. To receive your money back, you must contact our Customer Support team online
        atsupport@packagebeast.com no later than 14 days following your original sign-up and ask for a refund. Any
        contacts
        made after that 14 day period will not be eligible for our Money Back Guarantee. Only your first purchase is
        subject
        to the Money Back Guarantee; renewal orders are not eligible for the Money Back Guarantee under any
        circumstances.Disclaimers of Warranties and Limitations on Liability11.Disclaimer ofWarranties.TO THE FULLEST
        EXTENT
        PERMITTED BY THE APPLICABLE LAW, PACKAGE BEAST OFFERS THE WEBSITE AND SERVICEAS-IS AND MAKES NO REPRESENTATIONS
        OR
        WARRANTIES OF ANY KIND CONCERNING THE WEBSITE OR ITS SERVICE, EXPRESS, IMPLIED, STATUTORY OR OTHERWISE,
        INCLUDING,
        WITHOUT LIMITATION, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE. PACKAGE BEAST DOES NOT WARRANT THAT THE
        FUNCTIONS OR CONTENT CONTAINED ON THE WEBSITE OR SERVICE WILL BE UNINTERRUPTED ORERROR-FREE, THAT DEFECTS WILL
        BE
        CORRECTED, OR THAT OUR SERVERS ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. IN PARTICULAR, PACKAGE BEAST
        MAKES
        NO REPRESENTATION OR WARRANTY THAT THE INFORMATION PROVIDED THROUGH THE SERVICE, REGARDLESS OF THE SOURCE, IS
        ACCURATE, COMPLETE, RELIABLE, CURRENT, OR ERROR-FREE. PACKAGE BEAST DISCLAIMS ALLLIABILITY FOR ANY INACCURACY,
        ERROR, OR INCOMPLETENESS IN THE SERVICE.12.Limitation of Liability.EXCEPT TO THE MINIMUM EXTENT REQUIRED BY
        APPLICABLE LAW AND THEN ONLY TO THAT EXTENT, IN NO EVENT WILL PACKAGE BEAST, ITS EMPLOYEES, OFFICERS, DIRECTORS,
        AFFILIATES OR AGENTS BE LIABLE TO YOU ON ANY LEGAL THEORY FOR ANY INCIDENTAL, DIRECT, INDIRECT, PUNITIVE,
        ACTUAL,
        CONSEQUENTIAL, SPECIAL, EXEMPLARY OR OTHER DAMAGES, INCLUDING WITHOUT LIMITATION, LOSS OF REVENUE OR INCOME,
        LOST
        PROFITS, PAIN AND
        SUFFERING, EMOTIONAL DISTRESS, COST OF SUBSTITUTE GOODS OR SERVICE, OR SIMILAR DAMAGES SUFFERED OR INCURRED BY
        YOU
        OR ANY THIRD PARTY THAT ARISE IN CONNECTION WITH THE WEBSITE OR SERVICE (OR THE TERMINATION THEREOF FOR ANY
        REASON),
        EVEN IF PACKAGE BEAST TEAM HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. OUR TOTAL LIABILITY FOR ALL
        CLAIMS
        MADE ABOUT THE SERVICE IN ANY MONTH WILL BE NO MORE THAN WHAT YOU PAID US THE MONTH BEFORE.13.Results Not
        Guaranteed.Package Beast makes no guarantee or representationof any kind concerning the results of your use of
        the
        Website or Service. Any testimonials or examples displayed or depicted through Package Beast’s Website,
        programs,
        and/or the Service are only examples of what may be possible. There can be no assurance as to any particular
        outcome, including increased income, savings in shipping costs, and/or any other outcome, based on the use of
        the
        Service or any other products, programs or service offered by us.14.Indemnification for Breach of Terms of
        Use.You
        agree to indemnify and hold Package Beast, its officers, directors, shareholders, predecessors, successors in
        interest, employees, agents, subsidiaries and affiliates, harmless from any demands, loss, liability, claims or
        expenses (including attorneys’ fees), made against Package Beast by any third party due to or arising out of or
        in
        connectionwith your use of the Service or Website.15.Third Party Resources.The Website and the Service may
        contain
        links to third party websites or other resources. You acknowledge and agree that we are not responsible or
        liable
        for the availability, accuracy, content or policies of third partywebsites or other resources. Links to such
        websites or resources are provided only as a convenience to you and do not imply any endorsement by or
        affiliation
        with Package Beast. You acknowledge sole responsibility for, and assume all riskarising from, your use of any
        such
        third party websites or resources.Security, Storage, & Retention16.Security.The privacy and protection of your
        data
        is of the utmost importance to us. We take all reasonable technical and organizational precautions to protect
        the
        confidentiality, security and integrity of your Personal Data. Although we use multiple and various security
        measures to help protect your Personal Data against loss, misuse or unauthorized disclosure, we cannot 100%
        guarantee the security of information transmitted to us over the Internet.17.Storage.The Personal Data that you
        provide to us is generally stored on serverslocated in the United States. If you are located in another
        jurisdiction, you should be aware that once your Personal Data is submitted through our Service, it will
        be transferred to our servers in the United States and that the United States currently does not have uniform
        data
        protection laws in place.18.Retention.We will retain your information for as long as needed to provide you with
        our
        service. If you wish to cancel your account or request that we no longer use your information to provide you
        service, contact us atsupport@packagebeast.com.We will retain only that information necessary to comply with our
        legal obligations, resolve disputes, and enforce our agreements.Miscellaneous19.Privacy Policy.Package Beast may
        use
        and disclose your information according to our Privacy Policy. 20.Intellectual Property. The
        Website, its original content, features, functionality (including look), our trademarks, service marks, logos,
        and
        Service content (“Intellectual Property”) are owned by Package Beast and are protected by United States and
        international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights
        laws.
        You agree to not copy, modify, create derivative works of, publicly display, publicly perform, or republish any
        of
        our Intellectual Property. The term “content” includes, without limitation, information, data, text,
        photographs,
        videos, audio clips, written posts and comments, software, scripts, graphics, AdWords, and interactive features
        generated, provided, or otherwise made accessible on the Website or otherwise through Package Beast.21.Customer
        Data. “Customer Data” means information, data, and other content, inany form or medium, including your billing
        and
        other personal information, that is submitted, posted, or otherwise transmitted by you, or a third party on your
        behalf, through the Service. As between you and Package Beast, you own all right, title, and interest, including
        all
        intellectual property rights, in and to the Customer Data. You hereby grant Package Beast a non-exclusive,
        royalty-free, worldwide license to reproduce, distribute, and otherwise use and display the Customer Data and
        perform all acts with respect to the Customer Data as may be necessary for Package Beast to provide the Service
        and
        a non-exclusive, perpetual, irrevocable, royalty-free, worldwide license to use the Customer Data for analytics
        purposes. Package Beast will only use your billing and other personal information for the purpose of providing
        you
        the Service.22.International Users. The Service is controlled, operated and administered by Package Beast from
        our
        offices within the USA. If you access the Service from a location outside the USA, you are responsible for
        compliance with all local laws. You agree that you will not use the content accessed through the Website in any
        country or in any manner prohibited by any applicable laws, restrictions or regulations.23.Compliance with
        Law.You
        represent and warrant that your use and interaction with Package Beast and its Service is in compliance with all
        national, federal, state, and local laws, ordinances and regulations. If you are located in a country outside
        the
        United States it is your responsibility to determine that you are in compliance with the laws of that country.
        You
        agree to indemnify and hold us harmless from any losses, including attorney fees that result from your breach of
        any
        part of these warranties.24.Force Majeure.We shall not be liable for any failure of or delay in the performance
        of
        this agreement for the period that such failure or delay is due to causes beyond our reasonable control,
        including
        but not limited to acts of god, war, hackers, third party internet providers, government orders, power failures,
        nuclear destruction, Armageddon or any other force majeure event.25.Severability.The invalidity or
        unenforceability
        of any provisions of these Terms shall not affect the validity or enforceability of any other provisions of
        these
        Terms, which shall remain in full force and effect.26.Severability.Any provision of these Terms which imposes an
        obligation after termination or expiration of this agreement shall survive the termination or expiration of this
        agreement.27.Headings.The section headings contained in these Terms are for reference purposes only and shall
        not
        affect in any way the meaning or interpretation of these Terms.28.Waiver.Our failure to exercise or delay in
        exercising any right, power or privilegeunder these Terms shall not operate as a waiver; nor shall any single or
        partial exercise of any right, power or privilege preclude any other or further exercise thereof.29.Governing
        Law.This Agreement shall be governed, construed, and enforced in accordance with the laws of the State of Iowa
        without regard to its conflict of lawsrules, or international law or convention.30.Dispute Resolution.Any
        dispute or
        controversy you or we have arising under orin connection with this agreement shall be settled exclusively by
        binding
        arbitration solely by written submission in Des Moines, in the State of Iowa, in accordance with the expedited
        Commercial rules of the American Arbitration Association then in effect, by one arbitrator. Judgment may be
        entered
        on the arbitrator’s award in any court having jurisdiction. The arbitrator shall not have the power to award any
        punitive or consequential damages. Arbitration shall proceed solely on an individual basis without the right for
        any
        claims to be
        arbitrated on a class action basis or on bases involving claims brought in a purported representative capacity
        on
        behalf of others. The arbitrator’s authority toresolve and make written awards is limited to claims between you
        and
        us alone. Claims may not be joined or consolidated unless agreed to in writing by all parties. No arbitration
        award
        or decision will have any preclusive effect as to issues or claims in any dispute with anyone who is not a named
        party to the arbitration.The above notwithstanding, if you violate these Terms then we may seek injunctive or
        other
        equitable relief.31.Assignment.You may not assign any of your rights under this agreement to anyone else. We may
        assign our rights at our discretion.32.Notice.All notices to you will be effective when we send it to the last
        email
        or physical address you gave us or posted on our Website. Any notice to us will be effective when delivered to
        us
        at:support@packagebeast.comPackage Beast2815 100th St#346Urbandale, Iowa 5032233.Copyright Infringement.If
        copyrighted content that belongs to you was posted on the Website without your permission please notify us
        at:support@packagebeast.comPackage Beast2815 100th St#346Urbandale, Iowa 50322Please include in your notice:oAn
        electronic or physical signature of the copyright owner or someone authorized to act on their behalf;oThe name,
        address, telephone number, and email address of the copyright owner;oIdentification of the copyrighted work that
        is
        being infringed;oIdentification of where the infringing material is located on our Website (a URL works best);oA
        statement that you have a good faith belief that the use isn’t authorized by the copyright owner, its agent or
        the
        law;oA statement that the information in your notice is accurate, andoA statement that you’re authorized to act
        on
        behalf of the copyright owner.
        oThis statement must be made under penalty of perjury, meaning if any part of the statement is false, you could
        be
        committing perjury—a serious offense that’s sometimes even classified as a felony.Warning: If you knowingly make
        a
        false statement in your claim of copyright infringement, then you may be subject to liability for damages and
        heavy
        civil penalties. If you are not sure whether material on one of our Websites infringes your copyright, then you
        should speak with a lawyer before notifying us. We may forward your notice to the user that uploaded the
        content.34.Electronic Communications. When you use the Service, or send emails, text messages, and other
        communications from your desktop or mobile device to us, you are communicating with us electronically. You
        consent
        to receive communications from us. We will communicate with you in a variety of ways, such as by e-mail, text,
        or by
        posting notices and messages on this Website. Youagree that all agreements, notices, disclosures, and other
        communications that we provide to you electronically satisfy any legal requirement that such communications be
        in
        writing.35.Entire Agreement.These terms, together with our Privacy Policy and any additional terms you have
        agreed
        to, constitute(s) the entire agreement with respect to its subject matter and constitutes and supersedes all
        prior
        agreements, representations and understandings of the parties, written or oral.
    </p>
</mat-dialog-content>
<mat-dialog-actions align="start">
    <!-- <button mat-button mat-dialog-close>Cancel</button> -->

    <button *ngIf="data.forceAgree" (click)="agree()" type="button" color="primary" mat-raised-button>Agree</button>
    <button *ngIf="!data.forceAgree" mat-dialog-close type="button" color="primary" mat-raised-button>Dismiss</button>

</mat-dialog-actions>


<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->