<div class="container">
    <div class="d-flex justify-content-center mb-3">
        <h1>Your shipments&nbsp;&nbsp;</h1>

        <button mat-icon-button (click)="openDialog()">
            <mat-icon class="add-circle-button">add_circle_outline</mat-icon>
        </button>
    </div>

    <!-- <button class="btn btn-primary" (click)="openDialog()">New Item</button> -->

    <div class="d-flex justify-content-center mb-3">
        <div class="flex-fill">
            <div class="d-flex justify-content-center mb-3">
                <mat-form-field class="flex-fill">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" autocomplete="off" placeholder="ID, Owner, or Date">
                </mat-form-field>
            </div>

            <div class="d-flex justify-content-center mb-3">
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 flex-fill">

                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let shipment"> {{shipment.id}} </td>
                    </ng-container>

                    <!-- Owner Column -->
                    <ng-container matColumnDef="owner">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner </th>
                        <td mat-cell *matCellDef="let shipment"> {{shipment.owner}} </td>
                    </ng-container>

                    <!-- Created Column -->
                    <ng-container matColumnDef="created">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
                        <td mat-cell *matCellDef="let shipment"> {{shipment.created}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>




</div>