<div class="bricks d-flex justify-content-center">
    <div class="d-flex full-width">
        <div class="full-width p-5">
            <mat-card class="p-5 text-center">
                <h1>
                    <img id="logo" src="../../../assets/PackageBeast.png" alt="pbLogo">
                </h1>

                <mat-card-header class="d-flex justify-content-center">

                    <mat-card-title></mat-card-title>
                </mat-card-header>

                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div>
                        <mat-form-field class="full-width">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput [formControl]="registerForm.get('email')"
                                placeholder="Ex. pat@example.com">
                            <mat-error *ngIf="registerForm.get('email').hasError('pattern')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="registerForm.get('email').hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <br />
                        <mat-form-field class="full-width">
                            <mat-label>First Name</mat-label>
                            <input type="text" matInput [formControl]="registerForm.get('first_name')"
                                placeholder="First Name">
                            <mat-error *ngIf="registerForm.get('first_name').hasError('required')">
                                First name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <br />
                        <mat-form-field class="full-width">
                            <mat-label>Last Name</mat-label>
                            <input type="email" matInput [formControl]="registerForm.get('last_name')"
                                placeholder="Last Name">

                            <mat-error *ngIf="registerForm.get('last_name').hasError('required')">
                                Last name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <br />
                        <mat-form-field class="full-width">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput [formControl]="registerForm.get('password1')"
                                placeholder="password">
                            <mat-error *ngIf="registerForm.get('password1').hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="registerForm.get('password1').hasError('minlength')">
                                Password must be 8 characters or more
                            </mat-error>
                        </mat-form-field>
                        <br />
                        <mat-form-field class="full-width">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput [formControl]="registerForm.get('password2')"
                                placeholder="password">
                            <mat-error *ngIf="registerForm.get('password2').hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="registerForm.get('password2').hasError('minlength')">
                                Password must be 8 characters or more
                            </mat-error>
                        </mat-form-field>
                        <mat-card-actions class="d-flex justify-content-left">
                            <button mat-raised-button color="accent" [disabled]="loading">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Register
                            </button>
                            <div class="empty-space"></div>
                            <a routerLink="/login" class="btn btn-link">Already registered? Login!</a>
                        </mat-card-actions>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>

</div>