.registration-container {
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    background-image: url(Cardboard-Boxes-On-Bottom.png);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron {
    margin-bottom: 0px;
    background-color: white;
}