<div class="registration-container overflow-auto">
    <div class="jumbotron jumbotron-fluid text-center p-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-right">
                    <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/PackageBeast">
                        <fa-icon class="btn p-1" [icon]="faFacebookSquare" size="2x"></fa-icon>
                    </a>
                    <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/packagebeast">
                        <fa-icon class="btn p-1" [icon]="faTwitterSquare" size="2x"></fa-icon>
                    </a>
                    <a target="_blank" rel="noopener noreferrer"
                        href="https://www.youtube.com/channel/UCoPVEg9Wj-Fdaa1J0EJtVkQ?view_as=subscriber">
                        <fa-icon class="btn p-1" [icon]="faYoutubeSquare" size="2x"></fa-icon>
                    </a>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col"></div> -->
                <div class="col">
                    <h1 class="pb-5">
                        <img id="logo" src="../../../assets/PackageBeast.png" alt="pbLogo">
                    </h1>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col text-center">
                    <iframe style="display: block;" width="100%" height="315"
                        src="https://www.youtube.com/embed/KQHjAbZjoz0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row py-5">
                <div class="col">
                    <h5 class="centered lead">Always ship in the smallest box. Period.</h5>
                </div>
            </div>

            <div class="row p-0">
                <div class="col p-0">
                    <!-- <div style="height: 35vh;"> -->
                    <mat-carousel timings="500ms ease-in" [autoplay]="true" interval="3200" color="accent" slides="3"
                        [loop]="true" [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true"
                        [useMouseWheel]="false" orientation="ltr" [maintainAspectRatio]="false" slideHeight="300px">
                        <mat-carousel-slide overlayColor="#00000010" [hideOverlay]="false">
                            <h5 class="centered d-none d-md-block">
                                "I will never ship an Amazon order again without first using Package Beast."<br>
                                -Edward W<br>
                                Des Moines, Iowa
                            </h5>
                            <h6 class="centered d-md-none">
                                "I will never ship an Amazon order again without first using<br>Package Beast." <br>
                                -Edward W<br>
                                Des Moines, Iowa
                            </h6>
                        </mat-carousel-slide>
                        <mat-carousel-slide overlayColor="#00000010" [hideOverlay]="false">
                            <h5 class="centered d-none d-md-block">
                                "Package Beast allows my Amazon and Ebay businesses to ship more items
                                in less boxes. I recommend it to all sellers.<br>
                                -Derek W<br>
                                Los Angeles, California</h5>
                            <h6 class="centered d-md-none">
                                "Package Beast allows my Amazon and Ebay businesses to ship more items
                                in less boxes. I recommend it to all sellers.<br>
                                -Derek W<br>
                            </h6>
                        </mat-carousel-slide>
                        <mat-carousel-slide overlayColor="#00000010" [hideOverlay]="false">
                            <h5 class="centered">"Package Beast rocks!"</h5>
                        </mat-carousel-slide>
                    </mat-carousel>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>

    <div class="container-fluid justify-content-center">
        <div class="row justify-content-center">
            <div class="col-md-6 full-width p-5">
                <mat-card class="pt-5 px-5 text-center mat-elevation-z24">
                    <mat-card-header class="d-flex justify-content-center">
                        <mat-card-title>
                            <h1>Signup now!</h1>
                            <h3>Free 2 week trial</h3>
                            <h4>No credit card required at signup</h4>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <div>
                                <mat-form-field class="full-width">
                                    <mat-label>Email</mat-label>
                                    <input type="email" matInput [formControl]="registerForm.get('email')"
                                        placeholder="Ex. pat@example.com">
                                    <mat-error *ngIf="registerForm.get('email').hasError('pattern')">
                                        Please enter a valid email address
                                    </mat-error>
                                    <mat-error *ngIf="registerForm.get('email').hasError('required')">
                                        Email is <strong>required</strong>
                                    </mat-error>
                                    <mat-error *ngIf="registerForm.get('email').hasError('registerFail')">
                                        {{serverEmailError}}
                                    </mat-error>

                                </mat-form-field>
                                <br />
                                <mat-form-field class="full-width">
                                    <mat-label>First Name</mat-label>
                                    <input type="text" matInput [formControl]="registerForm.get('first_name')"
                                        placeholder="First Name">
                                    <mat-error *ngIf="registerForm.get('first_name').hasError('required')">
                                        First name is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                                <br />
                                <mat-form-field class="full-width">
                                    <mat-label>Last Name</mat-label>
                                    <input type="email" matInput [formControl]="registerForm.get('last_name')"
                                        placeholder="Last Name">

                                    <mat-error *ngIf="registerForm.get('last_name').hasError('required')">
                                        Last name is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                                <br />
                                <mat-form-field class="full-width">
                                    <mat-label>Password</mat-label>
                                    <input type="password" matInput [formControl]="registerForm.get('password1')"
                                        placeholder="password">
                                    <mat-error *ngIf="registerForm.get('password1').hasError('required')">
                                        Password is <strong>required</strong>
                                    </mat-error>
                                    <mat-error *ngIf="registerForm.get('password1').hasError('minlength')">
                                        Password must be 8 characters or more
                                    </mat-error>
                                    <mat-error *ngIf="registerForm.get('password1').hasError('registerFail')">
                                        {{serverPasswordError}}
                                    </mat-error>
                                </mat-form-field>
                                <br />
                                <mat-form-field class="full-width">
                                    <mat-label>Repeat Password</mat-label>
                                    <input type="password" matInput [formControl]="registerForm.get('password2')"
                                        placeholder="password">
                                    <mat-error *ngIf="registerForm.get('password2').hasError('required')">
                                        Password is <strong>required</strong>
                                    </mat-error>
                                    <mat-error *ngIf="registerForm.get('password2').hasError('minlength')">
                                        Password must be 8 characters or more
                                    </mat-error>
                                    <mat-error *ngIf="registerForm.get('password2').hasError('mustMatch')">
                                        Passwords must match
                                    </mat-error>

                                </mat-form-field>
                                <mat-card-actions>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-12 pb-3 px-0">
                                                <button class="full-width" mat-raised-button color="accent"
                                                    [disabled]="loading">
                                                    <span *ngIf="loading"
                                                        class="spinner-border spinner-border-sm mr-1"></span>
                                                    Register
                                                </button>
                                            </div>

                                            <div class="col-md-8 col-sm-12 text-md-right px-0">
                                                <a routerLink="/login" class="btn btn-link">Already registered?
                                                    Login!</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                Only available in US, Canada, and Mexico
                                            </div>
                                        </div>



                                    </div>
                                </mat-card-actions>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>

            </div>
        </div>

    </div>
    <div class="container-fluid extra-page-scroll"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col pt-3">
                <mat-error class="recaptcha">
                    {{serverRecaptchaError}}
                </mat-error>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="footer">
                    <p class="p-2 m-0">Need Help? Email us at support@packagebeast.com</p>
                </div>
            </div>
        </div>
    </div>
</div>